/* 日期选择容器 DIV */
.WdateDiv{
	width:180px;
	background-color:#fff;
	border:1px solid #3bc1f8;
}
/* 双月日历的宽度 */
.WdateDiv2{
	width:360px;
}
.WdateDiv *{font-size:9pt;}

/****************************
 * 导航图标 全部是A标签
 ***************************/
.WdateDiv .NavImg a{
	margin-top:3px;
	cursor:pointer;
	display:block;
	width:15px;
	height:15px;
}
.WdateDiv .NavImgll a{
	background:url(left-btn2.png) no-repeat center center;
	float:left; 
	margin-left:2px;
}
.WdateDiv .NavImgl a{
	background:url(left-btn.png) no-repeat center center;
	float:left; 
	margin-left:2px;
}
.WdateDiv .NavImgr a{
	background:url(right-btn.png) no-repeat center center;
	float:right;
	margin-right:2px;
}
.WdateDiv .NavImgrr a{
	background:url(right-btn2.png) no-repeat center center;
	float:right;
	margin-right:2px;
}

/****************************
 * 年份月份相关
 ***************************/
/* 年份月份栏 DIV */
.WdateDiv #dpTitle{
	height:30px;
	background:#41c3f9;
	color:#FFFFFF;
	font-family:"sans serif",tahoma,verdana,helvetica;
	font-size:12px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	padding-top:2px;
}
/* 年份月份输入框 INPUT */
.WdateDiv .yminput{
	margin-top:2px;
	text-align:center;
	border:0px;
	height:20px;
	width:50px;
	color:#FFF;
	background-color:transparent;
	cursor:pointer;
}
/* 年份月份输入框获得焦点时的样式 INPUT */
.WdateDiv .yminputfocus{
	margin-top:2px;
	text-align:center;
	border:#939393 1px solid;
	font-weight:bold;
	color:#034c50;	
	height:16px;
	width:50px;
}
/* 菜单选择框 DIV */
.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;
	border:1px solid #718BB7;
	display:none;
}
/* 菜单的样式 TD */
.WdateDiv .menu{
	cursor:pointer;
	background-color:#fff;
	color:#717997;/*时间文字颜色*/
}
/* 菜单的mouseover样式 TD */
.WdateDiv .menuOn{
	cursor:pointer;
	background-color: #41c3f9;
	color:#fff;
}
/* 菜单无效时的样式 TD */
.WdateDiv .invalidMenu{
	color:#aaa;
}
/* 年选择框的偏移 DIV */
.WdateDiv .YMenu{
	margin-top:16px;
}
/* 月选择框的偏移 DIV */
.WdateDiv .MMenu{
	margin-top:16px;
	*width:62px;
}
/* 时选择框的位置 DIV */
.WdateDiv .hhMenu{
	margin-top:-90px; 
	margin-left:26px;
}
/* 分选择框的位置 DIV */
.WdateDiv .mmMenu{
	margin-top:-46px; 
	margin-left:26px;
}
/* 秒选择框的位置 DIV */
.WdateDiv .ssMenu{
	margin-top:-24px; 
	margin-left:26px;
}

/****************************
 * 周相关
 ***************************/
 .WdateDiv .Wweek {
 	text-align:center;
	background:#DAF3F5;
	border-right:#BDEBEE 1px solid;
 }
/****************************
 * 星期,日期相关
 ***************************/

/* 日期栏表格 TABLE */
.WdateDiv .WdayTable{
	line-height:20px;	
	color:black; 
}
.WdateDiv .WdayTable td{
	text-align:center;
	border-left:solid 1px #e7e8f0;
	border-bottom:solid 1px #e7e8f0;
}
/* 日期格的样式 TD */
.WdateDiv .Wday{
	cursor:pointer;
	background:url(day_bg.png) no-repeat;
	color:#717997;
	/*border-left:solid 1px #e7e8f0;
	border-bottom:solid 1px #e7e8f0;*/
}
/* 日期格的mouseover样式 TD */
.WdateDiv .WdayOn{
	cursor:pointer;
	background-color:#41c3f9;
	color:#fff;
}
 /* 星期栏 TR */
.WdateDiv .MTitle{
	color:#43c4f9;
	cursor:default;
	font-size:10px; 
	background:#fff;
	
}
.WdateDiv .MTitle td{
	border-left:none;
	/*padding-top:3px;
	padding-bottom:3px;*/
}
.WdateDiv .WdayTable2{
	border-collapse:collapse;
	border:black 1px solid;
}
.WdateDiv .WdayTable2 table{
	border:0;
}
/* 周末日期格的样式 TD */
.WdateDiv .Wwday{
	cursor:pointer;
	color:#ff8263;
	background:url(day_bg.png) no-repeat;
}
/* 周末日期格的mouseover样式 TD */
.WdateDiv .WwdayOn{
	cursor:pointer;
	background-color:#ff8263;
	color:#fff;
}
.WdateDiv .Wtoday{
	cursor:pointer;
	color:red;
}
.WdateDiv .Wselday{
	background-color:#3bc1f8;
	color:#fff;
}
.WdateDiv .WspecialDay{
	background-color:#66F4DF;
}
/* 其他月份的日期 */
.WdateDiv .WotherDay{ 
	background:#edeef3;
	cursor:pointer;
	color:#cdd1dd;
}
/* 其他月份的日期mouseover样式 */
.WdateDiv .WotherDayOn{ 
	cursor:pointer;
	background-color:#cdd0dd;
	color:#717997;
}
/* 无效日期的样式,即在日期范围以外日期格的样式,不能选择的日期 */
.WdateDiv .WinvalidDay{
	color:#aaa;
}

/****************************
 * 时间相关
 ***************************/
/* 时间栏 DIV */
.WdateDiv #dpTime{
	width:120px;
	text-align:left;
	margin-left:32px;
	height:20px;
	line-height:20px;
	padding-top:1px;
}
/* 时间文字 SPAN */
.WdateDiv #dpTime #dpTimeStr{
	margin-left:1px;
	color:#717997;
}
/* 时间输入框 INPUT */
.WdateDiv #dpTime input{
	height:16px;
	width:18px;
	text-align:center;
	color:#333;
	border:#A3BAD9 1px solid;	
}
/* 时间 时 INPUT */
.WdateDiv #dpTime .tB{
	border-right:0px;
}
/* 时间 分和间隔符 ':' INPUT */
.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}
/* 时间 秒 INPUT */
.WdateDiv #dpTime .tm{
	width:7px;
	border-left:0;
	border-right:0;
}
/* 时间右边的向上按钮 BUTTON */
.WdateDiv #dpTime #dpTimeUp{
	height:8px;
	width:13px;
	border:0px;
	background:url(img.png) no-repeat -32px -16px;
	cursor:pointer;
	margin-bottom:0;
	padding-bottom:0;
}
/* 时间右边的向下按钮 BUTTON */
.WdateDiv #dpTime #dpTimeDown{
	height:8px;
	width:13px;
	border:0px;
	background:url(img.png) no-repeat -48px -16px;
	cursor:pointer;
	margin-top:0;
	padding-top:0;
}
/****************************
 * 其他
 ***************************/
 .WdateDiv #dpQS {
 	float:left;
	margin-left:6px;
	margin-top:8px;
	background:url(dateselect.png) no-repeat;
	width:15px;
	height:15px;
	cursor:pointer;
	background-position:50% 50%;
 }
.WdateDiv #dpControl {
	text-align:right;
	/*margin-top:5px;
	background:#DFECFB url(glass-bg.gif) repeat-x scroll left top;
	border-top:1px solid #A3BAD9;*/
	padding:4px;
}
.WdateDiv .dpButton{ 
	width:36px;
	height:20px;
	background:#fff;/*按钮背景色*/
	border-color:#e7e8f0;/*按钮边框 上右下左*/
	border-style:solid;
	border-width:1px;
	color:white;
	cursor:pointer;
	border-radius:2px;
	color:#717997;
	margin-left:3px;

}
