<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.samton.erp.api.warehouse.dao.TErpWhouseCheckDetailMapper" >
  <resultMap id="BaseResultMap" type="com.samton.erp.api.warehouse.bean.entity.TErpWhouseCheckDetail" >
    <id column="detail_id" property="detailId" jdbcType="BIGINT" />
    <result column="check_id" property="checkId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="SMALLINT" />
    <result column="sku" property="sku" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="inventory_count" property="inventoryCount" jdbcType="INTEGER" />
    <result column="space_id" property="spaceId" jdbcType="BIGINT" />
    <result column="price" property="price" jdbcType="NUMERIC" />
    <result column="state" property="state" jdbcType="SMALLINT" />
    <result column="enterprise_id" property="enterpriseId" jdbcType="BIGINT" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="BIGINT" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="last_modify_date" property="lastModifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    detail_id, check_id, sku, count, inventory_count, space_id, price, state, enterprise_id, 
    create_user_id, create_user_name, create_date, modify_user_id, modify_user_name, type,
    modify_date, last_modify_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from public.t_erp_whouse_check_detail
    where detail_id = #{detailId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from public.t_erp_whouse_check_detail
    where detail_id = #{detailId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.samton.erp.api.warehouse.bean.entity.TErpWhouseCheckDetail" >
    insert into public.t_erp_whouse_check_detail (detail_id, check_id, sku, 
      count, inventory_count, space_id, 
      price, state, enterprise_id, 
      create_user_id, create_user_name, create_date, 
      modify_user_id, modify_user_name, modify_date, 
      last_modify_date,type)
    values (#{detailId,jdbcType=BIGINT}, #{checkId,jdbcType=BIGINT}, #{sku,jdbcType=VARCHAR}, 
      #{count,jdbcType=INTEGER}, #{inventoryCount,jdbcType=INTEGER}, #{spaceId,jdbcType=BIGINT}, 
      #{price,jdbcType=NUMERIC}, #{state,jdbcType=SMALLINT}, #{enterpriseId,jdbcType=BIGINT}, 
      #{createUserId,jdbcType=BIGINT}, #{createUserName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifyUserId,jdbcType=BIGINT}, #{modifyUserName,jdbcType=VARCHAR}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{lastModifyDate,jdbcType=TIMESTAMP},#{type,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.samton.erp.api.warehouse.bean.entity.TErpWhouseCheckDetail" >
    insert into public.t_erp_whouse_check_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="detailId != null" >
        detail_id,
      </if>
      <if test="checkId != null" >
        check_id,
      </if>
      <if test="sku != null" >
        sku,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="inventoryCount != null" >
        inventory_count,
      </if>
      <if test="spaceId != null" >
        space_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="enterpriseId != null" >
        enterprise_id,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyUserId != null" >
        modify_user_id,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
      <if test="lastModifyDate != null" >
        last_modify_date,
      </if>
       <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="detailId != null" >
        #{detailId,jdbcType=BIGINT},
      </if>
      <if test="checkId != null" >
        #{checkId,jdbcType=BIGINT},
      </if>
      <if test="sku != null" >
        #{sku,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="inventoryCount != null" >
        #{inventoryCount,jdbcType=INTEGER},
      </if>
      <if test="spaceId != null" >
        #{spaceId,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        #{price,jdbcType=NUMERIC},
      </if>
      <if test="state != null" >
        #{state,jdbcType=SMALLINT},
      </if>
      <if test="enterpriseId != null" >
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyDate != null" >
        #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.samton.erp.api.warehouse.bean.entity.TErpWhouseCheckDetail" >
    update public.t_erp_whouse_check_detail
    <set >
      <if test="checkId != null" >
        check_id = #{checkId,jdbcType=BIGINT},
      </if>
      <if test="sku != null" >
        sku = #{sku,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="inventoryCount != null" >
        inventory_count = #{inventoryCount,jdbcType=INTEGER},
      </if>
      <if test="spaceId != null" >
        space_id = #{spaceId,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=NUMERIC},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=SMALLINT},
      </if>
      <if test="enterpriseId != null" >
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyDate != null" >
        last_modify_date = #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=SMALLINT},
      </if>
    </set>
    where detail_id = #{detailId,jdbcType=BIGINT},
  </update>
  <update id="updateByPrimaryKey" parameterType="com.samton.erp.api.warehouse.bean.entity.TErpWhouseCheckDetail" >
    update public.t_erp_whouse_check_detail
    set check_id = #{checkId,jdbcType=BIGINT},
      sku = #{sku,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      inventory_count = #{inventoryCount,jdbcType=INTEGER},
      space_id = #{spaceId,jdbcType=BIGINT},
      price = #{price,jdbcType=NUMERIC},
      state = #{state,jdbcType=SMALLINT},
      enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      last_modify_date = #{lastModifyDate,jdbcType=TIMESTAMP},
      type = #{detailId,jdbcType=BIGINT}
    where detail_id = #{detailId,jdbcType=BIGINT}
  </update>
  

	  	<select id="queryWhouseCheckDetialRecord" resultType="java.util.HashMap" parameterType="com.samton.platform.common.bean.param.JqParamBean">
		select  
		t.detail_id, t.check_id, t.sku, t.count, t.inventory_count, t.space_id, t.price, t.state, t.enterprise_id, goods.storget_image,goods.name,spa.space_code,
    t.create_user_id, t.create_user_name, t.create_date, t.modify_user_id, t.modify_user_name, t.type,
    t.modify_date, t.last_modify_date
	from public.t_erp_whouse_check_detail t left join public.t_erp_goods goods on t.sku = goods.sku left join public.t_erp_space spa on t.space_id = spa.space_id 
	where t.state = 1 and goods.state = 1 and t.enterprise_id = #{enterpriseId,jdbcType=BIGINT} and goods.enterprise_id = #{enterpriseId,jdbcType=BIGINT}
	and t.check_id =   #{search.check_id,jdbcType=BIGINT} 
	order by t.last_modify_date desc
	</select>
</mapper>