.navbar-header .btn-primary .fa-bars{ font-size:20px; color:#323c48;}

.navbar-header .btn-primary {
    /* background-color: #1ab394;
    border-color: #1ab394;
    */ 
    background-color: transparent;
    border-color: transparent;
    color: #FFF;
}
.navbar-header .btn-primary:hover{
	background-color: transparent;
    border-color: transparent;
    color: #FFF;
}
.navbar-header .open .dropdown-toggle.btn-primary {
    /*background-color: #18a689;
    border-color: #18a689;
    */
    background-color:transparent;
    border-color:transparent;
    color: #FFF;
}
.logo_img {
    width: 100%;
    height: 44px;
    background: url(../images/logo_white.png) no-repeat center;
}