/* CSS Document */
.main_con{ width:100%; height:100%; min-width:1000px;}
.main_con .main_piece{ width:100%; padding:0px 0px 10px; clear:both; overflow:hidden;}
.customer_nav{ padding-top:10px;}
.customer_nav li{ float:left; width:25%; height:111px; padding-left:9px; padding-right:10px; position:relative;}
.customer_nav li .customer_con{ height:100%; background-color:#FFF; box-shadow:0px 1px 3px #cad0de;}
.customer_con .customer_img{ position:absolute; top:0; left:9px; width:98px; height:100%; text-align:center;}
.customer_con .customer_img i{ display:inline-block; width:32px; height:32px; background:url(../images/customer_icon_78.png) no-repeat; margin-top:38px;}
.newbusiness .customer_img{ background-color:#2ec7c9;}
.totalnum .customer_img{ background-color:#b6a2de;}
.newagents .customer_img{ background-color:#5ab1ef;}
.totalagents .customer_img{ background-color:#f5994e;}
.newbusiness .customer_img i{ background-position:0px 0px;}
.totalnum .customer_img i{ background-position:0px 0px;}
.newagents.customer_img i{ background-position:0px 0px;}
.totalagents .customer_img i{ background-position:0px 0px;}
.customer_nav li .customer_info{ padding-left:123px;}
.customer_nav li .customer_info span{ display:block; padding-top:10px; font-family:"微软雅黑"; font-size:44px; font-weight:bold;}
.customer_nav li .customer_info p{ padding-left:4px; font-size:12px; color:#747c93;}
.newbusiness span{ color:#2ec7c9;}
.totalnum span{ color:#b6a2de;}
.newagents span{ color:#5ab1ef;}
.totalagents span{ color:#f5994e;}

/* 图表样式 */
.chart_con{ padding-left:10px; padding-right:10px;}
.chart_con.width50{ float:left; width:50%;}
.chart_con .chart_tit{ height:45px; border:1px solid #cfd9db; border-bottom:0px none; background-color:#f6f6f6; padding-right:10px;}
.chart_con .chart_tit h2{ float:left; line-height:45px; padding-left:19px;}
.chart_con .chart_tit h2 i{ margin-top:15px;}
.chart_con .chart_tit h2 span{ padding-left:7px; font-size:14px; font-weight:bold; color:#747c93;}
.chart_con .chart_tit .chart_select{ float:right;}
.chart_info{ height:328px; background-color:#FFF; border:1px solid #cfd9db; box-shadow:0px 1px 2px rgba(0,0,0,0.1); text-align:center;}
.chart_info img{ display:block; max-width:90%; max-height:90%;}
.chart_con .chart_tit .dropdown{ float:right; width:90px; margin-top:9px; margin-right:10px; position:relative;}
.chart_tit .dropdown .droptit{ display:block; width:100%; height:26px; line-height:26px; border:1px solid #c1c1c1; border-radius:3px; background-color:#FFF; padding-left:10px;}
.chart_tit .dropdown .droptit .text{ font-size:12px; color:#8d98b3;}
.chart_tit .dropdown .droptit .caret{ float:right; display:inline-block; width:21px; height:24px; background-color:#c1c1c1; text-align:center;} 
.chart_tit .dropdown .droptit .caret .arrow{ display:inline-block; width:9px; height:9px; background:url(../images/chart_select_icon_127.png) no-repeat;}
.chart_tit .open .droptit .caret .arrow{ background-position:0px -20px;}
.chart_tit .dropdown .dropmenu{ display:none; position:absolute; top:24px; left:0px; width:100%; padding:5px 0px; background-color:#FFF; border:1px solid #8d98b3;}
.chart_tit .dropdown .dropmenu li{ height:26px; line-height:26px; padding:0px 10px;}
.chart_tit .dropdown .dropmenu li a{ display:block; font-size:12px; color:#8d98b3;}
.chart_tit .dropdown .dropmenu li.current{ background-color:#eff2f8;}
.chart_tit .dropdown .dropmenu li:hover{ background-color:#8d98b3;}
.chart_tit .dropdown .dropmenu li:hover a{ color:#fff;}
.chart_tit .open .dropmenu{ display:block;}


.operation_box{ padding-top:10px; overflow:hidden;}
.operation_con{ height:42px; margin:0px 10px; border:1px solid #e0e3f2; background-color:#fff;}
.operation_con .currenttit{ float:left; padding-left:16px; display:inline;}
.operation_con .operation_info{ float:right; padding-right:8px; display:inline;}
.operation_info .btn{ border-radius:4px; padding:0px 5px; margin:9px 3px 0px; background-color:transparent;}
.operation_info .btn span{ color:#15a5fb;}
.operation_info .btn:hover span{ color:#FFF;}
.operation_info .btn:hover i{ background-image:url(../images/min_hover_icon.png);}
.operation_info .line{ display:inline-block; margin-top:15px; font-size:14px; color:#15a5fb; vertical-align:top;}
.currenttit{ line-height:40px;}
.currenttit span{ font-size:14px;}
.currenttit span em{ padding:0px 9px; font-size:14px; font-weight:bold; color:#5e6b75;}
.currenttit i{ display:inline-block; width:20px; height:20px; background:url(../images/current_icon_03.png) no-repeat; margin-top:12px; vertical-align:top;}

/* 搜索样式 */
.search_box{ min-height:55px; margin:0px 10px; padding-bottom:10px; border:1px solid #e0e3f2; border-bottom:0px none; border-top:0px none; background-color:#FFF; position:relative; overflow:hidden;}
.search_box .search_btncon{ position:absolute; top:3px; right:8px; width:95px;}
.search_box .search_btncon .btn{ float:left;}
.search_box .search_nav{ padding-right:230px;}
.search_box .search_nav li{ float:left; padding-top:10px; padding-left:16px; font-size:0;}
.search_box .search_nav li .inputlabel{ font-size:12px; color:#242f3f;}
.search_box .search_nav li .inputto{ padding:0px 7px; font-size:12px; color:#5e6989; vertical-align:middle;}

/* 列表样式 */
.tablelist_box{ height:calc(100% -154px); margin:0px 10px; background-color:#FFF;}
.tablelist_con{ width:100%; height:100%; border-left:1px solid #e0e3f2; border-right:1px solid #e0e3f2;}
.tablelist_tbody{ height:calc(100% - 30px); margin-top:30px;}
.tablelist_thead{ position:absolute; top:0; left:0; border-bottom:1px solid #e0e3f2;}
.tablelist_thead table,.tablelist_tbody table{ width:100%; table-layout:fixed;}
.tablelist_thead th,.tablelist_tbody td{ height:30px; border-top:1px solid #e0e3f2; border-bottom:1px solid #e0e3f2; padding:0px 10px; text-align:left; white-space:nowrap; text-overflow:ellipsis;word-break:keep-all; overflow:hidden; font-size:12px;}
.tablelist_thead th{ background-color:#eff2f8; border-bottom:0px none; color:#343d47;}
.tablelist_tbody td{ color:#4c4d4d;}
.tablelist_thead th:first-child,.tablelist_tbody td:first-child{ text-align:center;}
.tablelist_tbody tr:nth-of-type(2n){ background-color:#fafcfd;}
.tablelist_tbody td a{ font-size:12px; color:#4c4d4d; cursor:pointer;}
.tablelist_tbody td a:hover{ color:#15a5fb; text-decoration:underline;}
.tablelist_tbody td .operationbtn{ height:16px; margin-right:10px; background:none; border:0 none; text-align:center; cursor:pointer;}
.tablelist_tbody td .operationbtn .minicon{ margin-top:2px; vertical-align:top;}
.tablelist_tbody td .operationbtn span{ display:inline-block; line-height:16px; font-size:12px; color:#15a5fb; vertical-align:top;}
.tablelist_tbody td .operationbtn:hover .minicon{ background-image:url(../images/min_hover_icon.png);} 
.tablelist_tbody td .operationbtn:hover span{ text-decoration:underline;}
.tablelist_tbody tr:hover td{ background-color:#f2f4f8;}
.recharge_statue{ display:inline-block; height:20px; line-height:20px; border-radius:3px; padding:0px 5px;}
.recharge_statue.recharge_failed{ background-color:#d9524e;}
.recharge_statue.recharge_success{ background-color:#5cb95c;}
.recharge_statue.recharge_send{ background-color:#f2ad4e;}
.recharge_statue em{ font-size:12px; font-weight:bold; color:#FFF;}

/* 分页样式 */
.page_box{ height:38px;  margin:0px 10px;}
.page_con{ height:38px; border:1px solid #e0e3f2; background-color:#f6f7fb;}
.page_con .totalnum{ float:left; line-height:38px; padding-left:27px; font-size:12px; color:#8d98b3;}
.page_con .totalnum em{ font-size:12px; color:#8d98b3;}
.page_con .page_nav{ float:right; margin-right:29px; display:inline;}
.page_con .page_nav li{ float:left; margin-top:6px;}
.page_con .page_nav li.num,.page_con .page_nav li.prev,.page_con .page_nav li.next{ background-color:#FFF; margin-left:-1px;}
.page_nav li.num a,.page_nav li.prev a,.page_nav li.next a{ display:block; height:23px; line-height:23px; padding:0px 8px; border:1px solid #bcd1e4; font-size:12px; color:#8d98b3;}
.page_con .page_nav li.num a:hover,.page_con .page_nav li.prev a:hover,.page_con .page_nav li.next a:hover,.page_con .page_nav li.num.active a{ background-color:#15a5fb; border-color:#15a5fb; color:#FFF;}
.page_con .page_nav li.prev a{ border-top-left-radius:3px; border-bottom-left-radius:3px;}
.page_con .page_nav li.next a{ border-top-right-radius:3px; border-bottom-right-radius:3px;}
.page_con .page_nav li.prev i,.page_con .page_nav li.next i{ display:inline-block; width:5px; height:7px; background:url(../images/page_arrow_icon_88.png) no-repeat;}
.page_con .page_nav li.prev i{ background-position:0 0;}
.page_con .page_nav li.next i{ background-position:-21px 0px;}
.page_con .page_nav li.prev a:hover i{ background-position:0px -30px;}
.page_con .page_nav li.next a:hover i{ background-position:-21px -30px;}
.page_con .page_nav li.input{ margin-left:15px;}
.page_con .page_nav li.input .inputtext{ width:43px; height:23px; min-width:auto; text-align:center;}
.page_con .page_nav li.input .page_btn{ width:37px; height:23px; border:1px solid #bcd1e4; border-radius:3px; background-color:#FFF; font-size:12px; color:#5e6989; text-transform:uppercase; margin-left:13px; cursor:pointer;}
.page_con .page_nav li.input .page_btn:hover{ background-color:#15a5fb; border-color:#15a5fb; color:#FFF;}

/* 按钮样式 */
.btn{ display:inline-block; height:28px; line-height:26px; padding:0px 14px; margin-top:9px; margin-left:7px; margin-right:7px; border:0px none; border-radius:2px; cursor:pointer; font-size:0;}
.btn span{ font-size:12px; vertical-align:top;}
.btn i{ margin-top:7px; margin-right:6px;}
.add_btn{ background-color:#15a5fb;}
.add_btn span{ color:#FFF;}
.add_btn:hover{ background-color:#0999ef;}
.export_btn{ border:1px solid #bcd1e4; background-color:#fcfdff;}
.export_btn span{ color:#5e6989;}
.export_btn:hover{ background-color:#f3f6fb;}

/* 表单通用样式 */
.inputtext{ min-width:173px; height:28px; border:1px solid #cfd9db; border-radius:3px; padding:3px 8px; font-size:12px; color:#8d98b3;}
.select{ min-width:173px; height:28px; border:1px solid #cfd9db; border-radius:3px; padding:3px 0px; font-size:12px; color:#8d98b3;}
.textarea{ min-width:173px; height:58px; border:1px solid #cfd9db; border-radius:3px; padding:3px 8px; font-size:12px; color:#8d98b3;}

/* 复选框样式 */
.checkbox{ display:inline-block; height:14px; background:url(../images/login_img/checkbox_icon_12.png) no-repeat 0px 2px; font-size:0; cursor:pointer;}
.checkbox em{ padding-left:17px; font-size:12px; color:#838383; vertical-align:top;}
.checkbox.checked{ background-position:0px -18px;}

/* 单选框样式 */
.radio{ display:inline-block; height:14px; background:url(../images/radio_icon_12.png) no-repeat 0px 1px; cursor:pointer;}
.radio em{ padding-left:17px; font-size:12px; color:#838383; vertical-align:top;}
.radio.checked{ background-position:0px -18px;}


/*新增样式*/
.add_box{ height:100%;}
.add_list{ min-height:28px; line-height:28px; position: relative; margin-bottom:16px; clear:both;}
.add_list h5{position: absolute; text-align:right; width:115px; white-space:nowrap;}
.add_list h5 .wildcard{ display:inline-block; padding-right:3px; color:#f00;}
.add_value{ float:left; max-width:360px; margin-left:122px; font-size:0;}
.add_value span{ font-size:12px;}
.add_value .inputtext,.add_value .textarea,.add_value .select{ width:235px;}
.add_value .checkbox em,.add_value .radio em{ line-height:16px; margin-right:28px;}
.add_list .promptinfo{ float:left; margin-left:10px; display:inline;}
.add_list .promptinfo span{ font-size:12px; color:#bec0c8;}
.add_list .error{ clear:both; height:20px; line-height:20px; margin-left:122px; font-size:12px; color:#F00;}


/*详情*/
.detail_box{ height:100%; padding:0px 20px;}
.detail_box table{ margin:20px 0px;}
.detail_box th,.detail_box td{ height:40px; border:1px solid #cfe0ef;}
.detail_box th{ width:93px; background:#f8f9fc; border-left:1px solid #cfe0ef; border-top:1px solid #cfe0ef; text-align:right; padding-right:15px;}
.detail_box td{ padding-left:15px;}
.detail_box .export_btn{ margin-top:0;}

/* 审核样式 */
.checkinfo_box{ height:100%; padding:0px 20px; overflow:hidden;}
.checkinfo_con{ height:144px; border:1px solid #cfe0ef; padding-top:17px; margin-top:21px;}
.billinginfo_box{ margin:17px 0px;}
.billinginfo_tit{ height:39px; line-height:39px; border:1px solid #cfe0ef; background-color:#f8f9fc; padding-left:16px;}
.billinginfo_con{ border:1px solid #cfe0ef; border-top:0px none; overflow:hidden;}
.checkinfo_con .textarea{ width:455px;}
.billinginfo_mess{ padding:20px 30px; border-bottom:1px solid #cfe0ef;}
.billinginfo_mess li{ line-height:24px; font-size:12px; color:#5e6989;}
.billinginfo_mess li label,.billinginfo_mess li span{ font-size:12px; color:#5e6989;}
.billinginfo_list{ padding-top:10px; overflow:hidden;}
.billinginfo_list li{ clear:both; padding-bottom:15px; overflow:hidden;}
.billinginfo_list .label{ float:left; width:120px; min-height:29px; line-height:29px; padding-left:30px; font-size:12px; font-weight:bold; color:#5e6989;}
.billinginfo_list .billinginfo_content{ float:left; width:480px; overflow:hidden;}
.billinginfo_list .billinginfo_content .btn{ margin-top:0;}
.billinginfo_table th,.billinginfo_table td{ height:34px; border:1px solid #cfe0ef; text-align:center;}
.billinginfo_table th{ font-weight:bold;}
.total_con{ float:right; padding-right:38px; padding-bottom:13px; display:inline; overflow:hidden;}
.total_con .label{ float:left; line-height:21px; margin-right:12px; font-size:12px; font-weight:bold; color:#5e6989;}
.total_con span{ float:left; height:21px; line-height:21px; padding:0px 13px;  background-color:#fe3434; border-radius:13px; font-size:14px; font-weight:bold; color:#FFF;}

/* 角色新增 */
.character_box{ height:100%; padding:0px 20px; overflow:hidden;}
.character_box .character_con{ padding-top:20px;}
.character_tit{ height:31px; border:1px solid #cfe0ef; background-color:#f8f9fc;}
.character_tit .checkbox{ float:right; margin-top:8px; margin-right:10px;}
.character_tit h2{ float:left; line-height:30px; padding-left:13px; font-size:12px; color:#5e6989;}
.character_content{ border:1px solid #cfe0ef; border-top:0px none;}
.character_content .add_list{ line-height:normal; padding-top:17px; margin-bottom:0; overflow:hidden;}
.character_content .add_list .add_value{ max-width:none;}
.character_content .add_list .checkbox{ width:155px; margin-bottom:17px;}

.discountset_left{ float:left; width:463px; height:357px; padding:20px 30px; border-right:1px solid #e0e3f2;}
.discountset_left .discountset_category{ padding-bottom:18px;}
.discountset_category .radio{ margin-right:42px;}
.discountset_list{ padding-top:13px;}
.discountsetlist_con{ float:left; width:168px; height:237px; padding:5px 0px; border:1px solid #cdddeb;}
.discountsetlist_con li{ height:23px; line-height:23px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.discountsetlist_con li a{ display:block; padding:0px 13px; font-size:12px; color:#5e6989;}
.discountsetlist_con li a:hover,.discountsetlist_con li.current a{ background-color:#e5edf5;}
.discountsetlist_mid{ float:left; width:63px; height:237px; padding:47px 10px 0px;}
.discountsetlist_mid a{ display:block; width:44px; height:26px; border:1px solid #bcd1e4; border-radius:2px; text-align:center; margin-top:13px;}
.discountsetlist_mid a i{ display:inline-block; width:7px; height:11px; background:url(../images/discountsetlist_arrow_icon_13.png) no-repeat; vertical-align:top; margin-top:7px;}
.discountsetlist_mid a.leftarrow i{ background-position:0 0;}
.discountsetlist_mid a.rightarrow i{ background-position:0 -17px;}
.discountsetlist_mid a:hover{ background-color:#f3f6fb;}
.discountset_right{ float:left; width:390px; height:357px; padding:20px 22px;}
.discountset_right li{ float:left; width:157px; height:38px; line-height:38px; background-color:#f4f6fa; border:1px solid #eaecf6; padding:0px 15px; margin:0px 8px 16px; font-size:0;}
.discountset_right li .inputtext{ width:52px; min-width:inherit;}
.discountset_right li .label,.discountset_right li span{ font-size:12px; color:#5e6989; vertical-align:top;}
.discountset_right li span{ padding-left:5px;}

/* 代理折扣管理 */
.margin18{ margin:20px 18px 0px;}
.apiinstructions_box{ height:228px; border:1px solid #e0e3f2; border-radius:3px; background-color:#FFF; overflow:hidden;}
.apiinstructions_tit,.apitab_tit{ height:37px; line-height:37px; border-bottom:1px solid #e0e3f2; background-color:#fcfdff;}
.apiinstructions_tit h2{ font-size:14px; font-weight:bold; color:#15a5fb; text-align:center;}
.apiinstructions_nav{ width:600px; margin:35px auto 0px;}
.apiinstructions_nav li{ margin-bottom:20px;}
.apiinstructions_nav li .inputlabel{ display:inline-block; width:60px; text-align:right;}
.apiinstructions_nav li .inputtext{ width:493px;}
.apiinstructions_nav li .add_btn{ padding:0px 41px;}
.apitab_box{ height:586px; border:1px solid #e0e3f2; border-radius:3px; background-color:#FFF; overflow:hidden;}
.apitab_tit li{ float:left; width:155px; height:37px; line-height:37px; border:1px solid #e2e5f3; border-top:0px none; background-color:#FFF; position:relative; margin-left:-1px; text-align:center; cursor:pointer;}
.apitab_tit li a{ display:block; font-size:12px; color:#5e6989;}
.apitab_tit li.active{ background-color:#15a5fb;}
.apitab_tit li.active a{ color:#FFF;}
.apitab_tit li.active:after{ content:""; position:absolute; bottom:-10px; left:50%; display:inline-block; width:0; height:0; border-width:5px; border-style:solid; border-color:#15a5fb transparent transparent transparent; margin-left:-5px;}
.apicon_connav > .apitab_con{ display:none;}
.apicon_connav >.active{ display:block;}
.apitabcon_mess{ margin:0px 24px; padding:17px 0px; border-bottom:1px solid #e2e5f3;}
.apitabcon_mess li{ height:23px; line-height:23px; clear:both; font-size:0;}
.apitabcon_mess li label{ float:left; width:127px; text-align:right; font-size:12px; color:#5e6989;}
.apitabcon_mess li span{ float:left; width:320px; padding-left:6px; font-size:12px; color:#5e6989;}
.apitabcon_table{ margin:25px 24px 0px; border-left:1px solid #e0e3f1; border-right:1px solid #e0e3f1;}
.apitabcon_table th,.apitabcon_table td{ border-top:1px solid #e0e3f1; border-bottom:1px solid #e0e3f1; padding:0px 24px; text-align:left;}
.apitabcon_table th{ height:37px; background-color:#eff2f8;}
.apitabcon_table td{ height:45px;}
.apitabcon_instructions{ border:1px solid #e1e4f2; margin:18px 24px 0px; background-color:#eff2f8; padding:13px 21px;}
.apitabcon_instructions dt,.apitabcon_instructions dd{ line-height:18px; font-size:12px; color:#15a5fb; }
.apitabcon_instructions dt{ font-weight:bold;}
.apitabcon_flowchart{ margin:0px 24px; overflow:hidden;}
.apitabcon_flowchart h2{ padding-top:23px;}
.flowchart_nav li{ float:left; width:213px; height:95px; border-radius:5px; margin-top:18px;}
.flowchart_nav li.green{ background-color:#2ec7c9;}
.flowchart_nav li.purple{ background-color:#b6a2de;}
.flowchart_nav li.blue{ background-color:#5ab1ef;}
.flowchart_nav li.orange{ background-color:#f5994e;}
.flowchart_nav li p{ font-family:"微软雅黑"; font-size:18px; color:#FFF; text-align:center;}
.flowchart_nav li.pdt39{ padding-top:39px;}
.flowchart_nav li.pdt24{ padding-top:24px;}
.flowchart_nav li.flowchart_arrow{ width:auto; line-height:95px; padding-left:28px; padding-right:28px;}

/* 代理商设置 */
.agentset_box{ float:left; height:100%; padding:10px;}
.agentset_box.width40{ width:40%;}
.agentset_box.width60{ width:60%;}
.agentset_con{ height:100%; border:1px solid #e0e3f2; background-color:#FFF;}
.agentset_search{ height:48px; background-color:#fcfdff; padding:0px 173px 0px 27px; position:relative;}
.agentset_search .inputtext{ width:100%; margin-top:9px;}
.agentset_search .add_btn{ position:absolute; top:0px; right:80px;}
.agentset_search .export_btn{ position:absolute; top:0px; right:35px; padding:0px 8px;}
.agentset_search .filter_icon{ margin-right:0;}
.agentset_thead table,.agentset_tbody table{ table-layout:fixed;}
.agentset_thead th,.agentset_tbody td{ border-bottom:1px solid #e0e3f2; padding:0px 27px; text-align:left; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.agentset_tbody tr:nth-of-type(2n){ background-color:#fafcfd;}
.agentset_thead th{ height:32px; background-color:#eff2f8;}
.agentset_tbody td{ height:30px;}
.agentset_tbody tr:hover td{ background-color:#f2f4f8;}
.heightcalc_80{ height:calc(100% - 80px);}
.heightcalc_127{ height:calc(100% - 127px);}
.heightcalc_91{ height:calc(100% - 91px);}
.agentset_operation{ height:47px; border-top:1px solid #e0e3f2; padding-left:20px;}
.agentset_operation .btn{ margin-top:9px;}

/* 代理商权限分配 */
.toallocate{ float:left; height:100%;}
.toallocate.width20{ width:calc(30% - 22px);}
.toallocate.width40{ width:calc(35% - 22px);}
.toallocate .agentset_search{ padding-right:153px;}
.toallocate .inputtext{ min-width:inherit;}
.toallocate .btn{ padding:0px 4px; margin-left:3px; margin-right:3px;}
.discountsetlist_mid.topmid{ position:relative; top:50%; margin-top:-113px;}

/* 流量充值 */
.traffictopup_box{ float:left; height:308px; padding:10px 10px 0px;}
.traffictopup_box.width50{ width:50%;}
.traffictopup_con{ width:100%; height:100%; border:1px solid #e0e3f2; background-color:#FFF;}
.enternum_tit,.effecttime_tit{ height:59px; padding-top:7px; padding-left:17px; border-bottom:1px solid #e0e3f2; background:#fcfdff;}
.enternum_tit h2,.effecttime_tit h2{ font-size:14px; font-weight:bold; color:#15a5fb;}
.enternum_tit h2,.enternum_tit p,.effecttime_tit h2,.effecttime_tit p{ line-height:21px;}
.enternum_textarea{ height:193px; padding:13px 18px;}
.enternum_textarea .textarea{ width:100%; height:100%;}
.enternum_btncon{ padding:0px 10px; overflow:hidden;}
.enternum_btncon .btn{ margin-top:0;}
.effecttime_con{ padding:10px 10px 0px; clear:both; overflow:hidden;}
.effecttime_con .effecttime_tit{ height:60px; border:1px solid #e0e3f2; background-color:#FFF; padding-top:7px; padding-left:17px; position:relative;}
.effecttime_tit .effecttime_btncon{ position:absolute; top:5px; right:13px;}
.effecttime_btncon .export_btn.active{ background-color:#15a5fb; border-color:#15a5fb;}
.effecttime_btncon .export_btn.active i{ background-image:url(../images/min_hover_icon.png);}
.effecttime_btncon .export_btn.active span{ color:#FFF;}
.trafficpackage_box{ float:left; padding:10px 10px 0px;}
.trafficpackage_con{ position:relative; padding-bottom:10px; border:1px solid #e2e5f3; background-color:#FFF;}
.width33{ width:33.3%;}
.width34{ width:33.4%;}
.trafficpackage_con .trafficpackage_tit{ height:37px; line-height:37px; background-color:#eff2f8; border-bottom:1px solid #e0e3f2; padding-left:18px;}
.trafficpackage_tit h2{ font-size:14px; font-weight:bold; color:#15a5fb;}
.trafficpackage_content{ padding:0px 20px;}
.trafficpackage_hd{ padding-top:15px; padding-bottom:8px; border-bottom:1px solid #e0e3f2; overflow:hidden; clear:both;}
.trafficpackage_hd h3{ font-size:12px; color:#5e6989;}
.trafficpackage_nav li{ float:left; width:68px; height:28px; line-height:28px; margin-top:12px; margin-right:13px; text-align:center;}
.trafficpackage_nav li a{ display:block; border:1px solid #bcd1e4; border-radius:2px; font-size:12px; color:#5e6989;}
.trafficpackage_nav li.current a,.trafficpackage_nav li a:hover{ background-color:#15a5fb; border-color:#15a5fb;color:#FFF;}
.trafficpackage_region{ position:relative;}
.trafficpackage_region .btn{ margin-left:0;}
.region_box{ position:absolute; top:38px; left:0; z-index:200; width:440px;}
.region_box .region_tit{ height:30px; line-height:30px; background-color:#eff2f8; border:1px solid #e0e3f2;}
.region_box .region_tit h5{ padding-left:10px; font-size:12px; font-weight:bold; color:#15a5fb;}
.region_box .region_con{ padding:10px 0px 20px 30px; border:1px solid #e0e3f2; border-top:0 none; background-color:#FFF; overflow:hidden;}
.region_box .region_con li{ float:left; width:100px; margin-top:10px; cursor:pointer;}
.region_box .region_con li a{ color:#5e6989;}
.trafficpackage_info{ padding-top:8px;}
.trafficpackage_info p{ line-height:26px; font-size:12px; color:#5e6989;}
.trafficpackage_info p.blue,.trafficpackage_info p span em.blue{ color:#15a5fb;}
.trafficpackage_info p span{ padding-right:12px;}
.trafficpackage_info p span em.blue{ font-weight:bold;}
.trafficpackage_info p span em.linethroungh{ text-decoration:line-through;}
.trafficpackage_info p .numm{ font-family:Arial;}
.disabled_con{ position:absolute; top:0; left:0; width:100%; height:100%;}
.disabled_mask{ width:100%; height:100%; background-color:#fff; opacity:0.5; z-index:100;}
.disabled_con i.lock{ position:absolute; top:50%; left:50%; display:block; width:46px; height:57px; background:url(../images/lock.png) no-repeat; margin-top:-28px; margin-left:-23px;  z-index:200; animation:turnlock 2s linear infinite;}
@keyframes turnlock{ 
  from{transform:rotate(0deg);}
  to{transform:rotate(360deg);}
}
@-webkit-keyframes turnlock{ 
  from{transform:rotate(0deg);}
  to{transform:rotate(360deg);}
}
@-moz-keyframes turnlock{ 
  from{transform:rotate(0deg);}
  to{transform:rotate(360deg);}
}
@-ms-keyframes turnlock{ 
  from{transform:rotate(0deg);}
  to{transform:rotate(360deg);}
}
.traffictopup_btncon{ width:100%; padding:10px; clear:both;}
.traffictopup_btncon .btn{ width:100%; margin:0;}
.traffictopup_btncon .btn span{ font-size:14px; font-weight:bold;}