<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.samton.erp.api.orders.dao.TErpOrdersDetailMapper" >
  <resultMap id="BaseResultMap" type="com.samton.erp.api.orders.bean.entity.TErpOrdersDetail" >
    <id column="detail_id" property="detailId" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="NUMERIC" />
    <result column="weight" property="weight" jdbcType="NUMERIC" />
    <result column="customs_code" property="customsCode" jdbcType="BIGINT" />
    <result column="space_id" property="spaceId" jdbcType="BIGINT" />
    <result column="state" property="state" jdbcType="SMALLINT" />
    <result column="goods_info" property="goodsInfo" jdbcType="VARCHAR" />
    <result column="enterprise_id" property="enterpriseId" jdbcType="BIGINT" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="BIGINT" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="last_modify_date" property="lastModifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    detail_id, order_id, goods_id, order_num, count, price, weight, customs_code, space_id, state, goods_info,
    enterprise_id, create_user_id, create_user_name, create_date, modify_user_id, modify_user_name, 
    modify_date, last_modify_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from public.t_erp_orders_detail
    where detail_id = #{detailId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from public.t_erp_orders_detail
    where detail_id = #{detailId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.samton.erp.api.orders.bean.entity.TErpOrdersDetail" >
    insert into public.t_erp_orders_detail (detail_id, order_id, goods_id, 
      order_num, count, price, weight,
      customs_code, space_id, state, goods_info,
      enterprise_id, create_user_id, create_user_name, 
      create_date, modify_user_id, modify_user_name, 
      modify_date, last_modify_date)
    values (#{detailId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, 
      #{orderNum,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, #{price,jdbcType=NUMERIC},  #{weight,jdbcType=NUMERIC},
      #{customsCode,jdbcType=BIGINT}, #{spaceId,jdbcType=BIGINT}, #{state,jdbcType=SMALLINT}, #{goodsInfo,jdbcType=VARCHAR},
      #{enterpriseId,jdbcType=BIGINT}, #{createUserId,jdbcType=BIGINT}, #{createUserName,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=BIGINT}, #{modifyUserName,jdbcType=VARCHAR}, 
      #{modifyDate,jdbcType=TIMESTAMP}, #{lastModifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.samton.erp.api.orders.bean.entity.TErpOrdersDetail" >
    insert into public.t_erp_orders_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="detailId != null" >
        detail_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="customsCode != null" >
        customs_code,
      </if>
      <if test="spaceId != null" >
        space_id,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="goodsInfo != null" >
        goods_info,
      </if>
      <if test="enterpriseId != null" >
        enterprise_id,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyUserId != null" >
        modify_user_id,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
      <if test="lastModifyDate != null" >
        last_modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="detailId != null" >
        #{detailId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=NUMERIC},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=NUMERIC},
      </if>
      <if test="customsCode != null" >
        #{customsCode,jdbcType=BIGINT},
      </if>
      <if test="spaceId != null" >
        #{spaceId,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=SMALLINT},
      </if>
      <if test="goodsInfo != null" >
        #{goodsInfo,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseId != null" >
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyDate != null" >
        #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.samton.erp.api.orders.bean.entity.TErpOrdersDetail" >
    update public.t_erp_orders_detail
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=NUMERIC},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=NUMERIC},
      </if>
      <if test="customsCode != null" >
        customs_code = #{customsCode,jdbcType=BIGINT},
      </if>
      <if test="spaceId != null" >
        space_id = #{spaceId,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=SMALLINT},
      </if>
      <if test="goodsInfo != null" >
        goods_info = #{goodsInfo,jdbcType=VARCHAR},
       </if>
      <if test="enterpriseId != null" >
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyDate != null" >
        last_modify_date = #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where detail_id = #{detailId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.samton.erp.api.orders.bean.entity.TErpOrdersDetail" >
    update public.t_erp_orders_detail
    set count = #{count,jdbcType=INTEGER},
      price = #{price,jdbcType=NUMERIC},
      customs_code = #{customsCode,jdbcType=BIGINT},
      space_id = #{spaceId,jdbcType=BIGINT},
      goods_info = #{goodsInfo,jdbcType=VARCHAR},
      modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      last_modify_date = #{lastModifyDate,jdbcType=TIMESTAMP}
    where detail_id = #{detailId,jdbcType=BIGINT}
  </update>
  
  <select id="queryGoodsIsExists" parameterType="com.samton.erp.api.orders.bean.entity.TErpOrdersDetail" resultType="java.lang.Integer">
  	select count(1)
  	from public.t_erp_orders_detail
  	where order_id = #{orderId,jdbcType=BIGINT} and goods_id = #{goodsId,jdbcType=BIGINT} and enterprise_id = #{enterpriseId,jdbcType=BIGINT}
  </select>
  
  <select id="queryOrdersDetailList" resultType="java.util.HashMap">
  	select a.detail_id, a.order_id, a.goods_id, a.order_num, a.count, a.price, a.customs_code, a.space_id, a.goods_info,a.weight,a.state,b.sku,b.name,b.e_name,
  	b.sale_image,b.storget_image,c.order_state,w.whouse_name,sp.space_code,b.platform_goods_id,d.platform_type
  	from public.t_erp_orders_detail a
  	inner join t_erp_goods b on a.goods_id = b.goods_id and a.enterprise_id = b.enterprise_id and b.state = 1
  	inner join t_erp_orders c on a.order_id = c.orders_id and c.enterprise_id = b.enterprise_id and c.state = 1
  	inner join t_erp_shop d on c.shop_id = d.shop_id and c.enterprise_id = d.enterprise_id
  	left join t_erp_warehouse w on w.whouse_id = a.customs_code and a.enterprise_id = w.enterprise_id and w.state = 1
  	left join t_erp_space sp on sp.space_id = a.space_id and a.enterprise_id = sp.enterprise_id and sp.state = 1
  	where a.order_id = #{orderId,jdbcType=BIGINT} and a.enterprise_id = #{enterpriseId,jdbcType=BIGINT} and a.state = 1
  	order by a.create_date asc
  </select>
  
  <update id="updateOrderItemStateByOrderId">
  	update public.t_erp_orders_detail
    set state = #{state,jdbcType=SMALLINT},
      modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      last_modify_date = #{lastModifyDate,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  
  <update id="batchUpdateOrderItemState">
  	update public.t_erp_orders_detail
    set state = #{state,jdbcType=SMALLINT}
    where order_id in
     <foreach item="idItem" collection="idList" open="(" separator="," close=")"> 
		#{idItem}
	  </foreach>
  </update>
  
  <select id="queryOrderDetailByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Long">
  	select 
    <include refid="Base_Column_List" />
    from public.t_erp_orders_detail
    where order_id = #{orderId,jdbcType=BIGINT} and state = 1
  </select>
</mapper>