<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.samton.erp.api.logistics.dao.TErpLogisticsRuleDetailMapper" >
  <resultMap id="BaseResultMap" type="com.samton.erp.api.logistics.bean.entity.TErpLogisticsRuleDetail" >
    <id column="detail_id" property="detailId" jdbcType="BIGINT" />
    <result column="rule_id" property="ruleId" jdbcType="BIGINT" />
    <result column="enterprise_id" property="enterpriseId" jdbcType="BIGINT" />
    <result column="detail_type" property="detailType" jdbcType="SMALLINT" />
    <result column="detail_info" property="detailInfo" jdbcType="VARCHAR" />
    <result column="money_min" property="moneyMin" jdbcType="NUMERIC" />
    <result column="money_max" property="moneyMax" jdbcType="NUMERIC" />
    <result column="money_unit" property="moneyUnit" jdbcType="SMALLINT" />
    <result column="sku_count" property="skuCount" jdbcType="SMALLINT" />
    <result column="country_range" property="countryRange" jdbcType="SMALLINT" />
    <result column="begin_date" property="beginDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="weight_min" property="weightMin" jdbcType="NUMERIC" />
    <result column="weight_max" property="weightMax" jdbcType="NUMERIC" />
    <result column="battery" property="battery" jdbcType="SMALLINT" />
    <result column="paypal" property="paypal" jdbcType="SMALLINT" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="BIGINT" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="last_modify_date" property="lastModifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="VoResultMap" type="com.samton.erp.api.logistics.bean.vo.RuleDetailVo" extends="BaseResultMap">
  </resultMap>
  <sql id="Base_Column_List" >
    detail_id, rule_id, enterprise_id, detail_type, detail_info, money_min, money_max, 
    money_unit, sku_count, country_range, begin_date, end_date, weight_min, weight_max, 
    battery, paypal, create_user_id, create_user_name, create_date, modify_user_id, modify_user_name, 
    modify_date, last_modify_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from public.t_erp_logistics_rule_detail
    where detail_id = #{detailId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from public.t_erp_logistics_rule_detail
    where detail_id = #{detailId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.samton.erp.api.logistics.bean.entity.TErpLogisticsRuleDetail" >
    insert into public.t_erp_logistics_rule_detail (detail_id, rule_id, enterprise_id, 
      detail_type, detail_info, money_min, 
      money_max, money_unit, sku_count, 
      country_range, begin_date, end_date, 
      weight_min, weight_max, battery, 
      paypal, create_user_id, create_user_name, 
      create_date, modify_user_id, modify_user_name, 
      modify_date, last_modify_date)
    values (#{detailId,jdbcType=BIGINT}, #{ruleId,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, 
      #{detailType,jdbcType=SMALLINT}, #{detailInfo,jdbcType=VARCHAR}, #{moneyMin,jdbcType=NUMERIC}, 
      #{moneyMax,jdbcType=NUMERIC}, #{moneyUnit,jdbcType=SMALLINT}, #{skuCount,jdbcType=SMALLINT}, 
      #{countryRange,jdbcType=SMALLINT}, #{beginDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, 
      #{weightMin,jdbcType=NUMERIC}, #{weightMax,jdbcType=NUMERIC}, #{battery,jdbcType=SMALLINT}, 
      #{paypal,jdbcType=SMALLINT}, #{createUserId,jdbcType=BIGINT}, #{createUserName,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=BIGINT}, #{modifyUserName,jdbcType=VARCHAR}, 
      #{modifyDate,jdbcType=TIMESTAMP}, #{lastModifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.samton.erp.api.logistics.bean.entity.TErpLogisticsRuleDetail" >
    insert into public.t_erp_logistics_rule_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="detailId != null" >
        detail_id,
      </if>
      <if test="ruleId != null" >
        rule_id,
      </if>
      <if test="enterpriseId != null" >
        enterprise_id,
      </if>
      <if test="detailType != null" >
        detail_type,
      </if>
      <if test="detailInfo != null" >
        detail_info,
      </if>
      <if test="moneyMin != null" >
        money_min,
      </if>
      <if test="moneyMax != null" >
        money_max,
      </if>
      <if test="moneyUnit != null" >
        money_unit,
      </if>
      <if test="skuCount != null" >
        sku_count,
      </if>
      <if test="countryRange != null" >
        country_range,
      </if>
      <if test="beginDate != null" >
        begin_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="weightMin != null" >
        weight_min,
      </if>
      <if test="weightMax != null" >
        weight_max,
      </if>
      <if test="battery != null" >
        battery,
      </if>
      <if test="paypal != null" >
        paypal,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyUserId != null" >
        modify_user_id,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
      <if test="lastModifyDate != null" >
        last_modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="detailId != null" >
        #{detailId,jdbcType=BIGINT},
      </if>
      <if test="ruleId != null" >
        #{ruleId,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null" >
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="detailType != null" >
        #{detailType,jdbcType=SMALLINT},
      </if>
      <if test="detailInfo != null" >
        #{detailInfo,jdbcType=VARCHAR},
      </if>
      <if test="moneyMin != null" >
        #{moneyMin,jdbcType=NUMERIC},
      </if>
      <if test="moneyMax != null" >
        #{moneyMax,jdbcType=NUMERIC},
      </if>
      <if test="moneyUnit != null" >
        #{moneyUnit,jdbcType=SMALLINT},
      </if>
      <if test="skuCount != null" >
        #{skuCount,jdbcType=SMALLINT},
      </if>
      <if test="countryRange != null" >
        #{countryRange,jdbcType=SMALLINT},
      </if>
      <if test="beginDate != null" >
        #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="weightMin != null" >
        #{weightMin,jdbcType=NUMERIC},
      </if>
      <if test="weightMax != null" >
        #{weightMax,jdbcType=NUMERIC},
      </if>
      <if test="battery != null" >
        #{battery,jdbcType=SMALLINT},
      </if>
      <if test="paypal != null" >
        #{paypal,jdbcType=SMALLINT},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyDate != null" >
        #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.samton.erp.api.logistics.bean.entity.TErpLogisticsRuleDetail" >
    update public.t_erp_logistics_rule_detail
    <set >
      <if test="ruleId != null" >
        rule_id = #{ruleId,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null" >
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="detailType != null" >
        detail_type = #{detailType,jdbcType=SMALLINT},
      </if>
      <if test="detailInfo != null" >
        detail_info = #{detailInfo,jdbcType=VARCHAR},
      </if>
      <if test="moneyMin != null" >
        money_min = #{moneyMin,jdbcType=NUMERIC},
      </if>
      <if test="moneyMax != null" >
        money_max = #{moneyMax,jdbcType=NUMERIC},
      </if>
      <if test="moneyUnit != null" >
        money_unit = #{moneyUnit,jdbcType=SMALLINT},
      </if>
      <if test="skuCount != null" >
        sku_count = #{skuCount,jdbcType=SMALLINT},
      </if>
      <if test="countryRange != null" >
        country_range = #{countryRange,jdbcType=SMALLINT},
      </if>
      <if test="beginDate != null" >
        begin_date = #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="weightMin != null" >
        weight_min = #{weightMin,jdbcType=NUMERIC},
      </if>
      <if test="weightMax != null" >
        weight_max = #{weightMax,jdbcType=NUMERIC},
      </if>
      <if test="battery != null" >
        battery = #{battery,jdbcType=SMALLINT},
      </if>
      <if test="paypal != null" >
        paypal = #{paypal,jdbcType=SMALLINT},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyDate != null" >
        last_modify_date = #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where detail_id = #{detailId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.samton.erp.api.logistics.bean.entity.TErpLogisticsRuleDetail" >
    update public.t_erp_logistics_rule_detail
    set rule_id = #{ruleId,jdbcType=BIGINT},
      enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      detail_type = #{detailType,jdbcType=SMALLINT},
      detail_info = #{detailInfo,jdbcType=VARCHAR},
      money_min = #{moneyMin,jdbcType=NUMERIC},
      money_max = #{moneyMax,jdbcType=NUMERIC},
      money_unit = #{moneyUnit,jdbcType=SMALLINT},
      sku_count = #{skuCount,jdbcType=SMALLINT},
      country_range = #{countryRange,jdbcType=SMALLINT},
      begin_date = #{beginDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      weight_min = #{weightMin,jdbcType=NUMERIC},
      weight_max = #{weightMax,jdbcType=NUMERIC},
      battery = #{battery,jdbcType=SMALLINT},
      paypal = #{paypal,jdbcType=SMALLINT},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      last_modify_date = #{lastModifyDate,jdbcType=TIMESTAMP}
    where detail_id = #{detailId,jdbcType=BIGINT}
  </update>
  <select id="selectByRuleId" resultMap="VoResultMap" >
  select 
    <include refid="Base_Column_List" />
   from 
    	t_erp_logistics_rule_detail
  where
  		rule_id=#{ruleId,jdbcType=BIGINT}
  	and
  		enterprise_id=#{enterpriseId,jdbcType=BIGINT}
  
  </select>
  
  <delete id="deleteByRuleId" >
    delete from public.t_erp_logistics_rule_detail
    where
    	 rule_id = #{ruleId,jdbcType=BIGINT}
  	and
  		enterprise_id=#{enterpriseId,jdbcType=BIGINT}
  </delete>
</mapper>