#owl-menu-ver-left  .menu-subtitle{padding:5.6px 0 8px 0;display:block;color:#999;font-size:13px;} 
#owl-menu-ver-left .category-left  ul {margin:0;}
#owl-menu-ver-left .category-left > ul {margin:0;position:relative;border:1px solid #f0f0f0;border-bottom-left-radius:3px;-moz-border-bottom-left-radius:3px;-webkit-border-bottom-left-radius:3px;border-bottom-right-radius:3px;-moz-border-bottom-right-radius:3px;-webkit-border-bottom-right-radius:3px;border-top:none;} 
#owl-menu-ver-left .category-left li.level-1 {border-top:1px solid #f0f0f0;transition: all 0.4s ease 0s;  -moz-transition: all 0.4s ease 0s;-webkit-transition: all 0.4s ease 0s;}
#owl-menu-ver-left .category-left li.level-1 > a {padding:17px 0 16px 20px;display: block; }
#owl-menu-ver-left .category-left li.level-1:hover {transition: all 0.4s ease 0s;  -moz-transition: all 0.4s ease 0s;-webkit-transition: all 0.4s ease 0s;}
#owl-menu-ver-left .category-left li:first-child{border-top:none;}
#owl-menu-ver-left .category-left li a{font-size:13px;color:#232a35;}

#owl-menu-ver-left .menu-dropdown li a {padding:8px 0;display: block;font-size:13px;}
#owl-menu-ver-left .menu-dropdown li a.product-name{padding:0;}
#owl-menu-ver-left .menu-dropdown li .content_price{margin-bottom:0;}
#owl-menu-ver-left .menu-dropdown li:first-child > a{border-top:none;}
#owl-menu-ver-left  ul li.item-header a {
  
  font-size: 13px;
  font-weight: 500;   
  color: #232a35;text-transform:uppercase; 
}

#owl-menu-ver-left .category-left .sub-bg-1> .menu-dropdown
{
background:#fff url(../images/menu3.png) no-repeat right top;
}


/**static**/
.html-block > p {margin:0;}
#owl-menu-ver-left .menu-dropdown .title-html-block{display:none;}
#owl-menu-ver-left .category-left  .smartphone-menuleft .html-block img {width:100%;}
.manufacture-menu .html-block ul li {padding:5px 0;}


  
/***reponsive***/
@media (min-width: 1024px ) 
{
#owl-menu-ver-left .category-left li.level-1{background:#fbfbfb;text-align:left;}   
#owl-menu-ver-left .category-left li.level-1:hover  > a,#owl-menu-ver-left .category-left li.level-1:hover:after { color:#2a62b8;background:#fff;}
#index #owl-menu-ver-left ul.menu-content{display:block !important; height: auto !important}
#owl-menu-ver-left .menu-dropdown
{
position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  float: none;
  border: 1px solid #eee;
  opacity: 0;
  filter: alpha(opacity=0);
  
  transition: transform 0.1s ease 0s;

  -webkit-transition: -webkit-transform 0.1s ease 0s;
   
  -moz-transition: -moz-transform 0.1s ease 0s;
  transform-origin: 0 0 0;
  visibility: hidden;
}

#owl-menu-ver-left .category-left .menu-dropdown  li.parent:after
{
 top: 11px;
}
#owl-menu-ver-left .category-left li:hover > .menu-dropdown{  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
  opacity: 1;
  transform: scale(1,1);
  left:100%;
  top:0;
  right:0;
  z-index: 100;padding:15px;
  
 }

#owl-menu-ver-left .category-left  li.level-1 > a {font-weight:500;position:relative;}
#owl-menu-ver-left .category-left li.level-1 > a > img { margin-right:5px;}

 #owl-menu-ver-left .category-left li  > .menu-dropdown li:hover > .menu-dropdown
 {
 top: -1px;
 }
 #owl-menu-ver-left .menu-dropdown .prod-menuleft li a{border-top:none;font-weight:500;text-transform:capitalize;padding:0;}
 #owl-menu-ver-left .menu-dropdown .prod-menuleft .product-container{padding:7px 0 0 0;}
 #owl-menu-ver-left .menu-dropdown  .product-container img{transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transition: all 400ms ease 0s;
  -moz-transition: all 400ms ease 0s;
  -webkit-transition: all 400ms ease 0s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;}
 #owl-menu-ver-left .menu-dropdown  .product-container img:hover{  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);}
 
#owl-menu-ver-left .category-left .menu-dropdown {background:#fff;width:900px;}
#owl-menu-ver-left .category-left .menu-dropdown.cat-drop-menu {width:220px;}
#owl-menu-ver-left .category-left .level-1.parent  .menu-dropdown.owl-vm-sub-auto,#owl-menu-ver-left .category-left .level-1.parent:hover > .menu-dropdown.owl-vm-sub-auto{top:auto;margin-top:-51px;}
#owl-menu-ver-left .category-left .menu-dropdown ul.ul-column{margin-top:12px;margin-bottom:12px;}
#owl-menu-ver-left .category-left .menu-dropdown li a:hover{color:#2a62b8;}


.owl-menu-ver-page {position:relative;}
.owl-menu-ver-page .category-left{position:absolute;z-index:100;width:100%;margin-top:0px;padding-right:30px;} 
#owl-menu-ver-left .category-left li.level-1.parent:hover > a:after {
  height: 100%;
  position: absolute;
  top: 0px;
  right: -2px;
  border-right: 10px solid #fff;
  width: 0;
  content: "";
  z-index: 902;
}
#owl-menu-ver-left .category-left .menu-comectic > .menu-dropdown
{
min-height:490px;
}
#owl-menu-ver-left .category-left  .smartphone-menuleft .ul-column {margin-left:-15px; margin-right:-15px;}
#owl-menu-ver-left ul li.level-1 ul li.parent:after {
    content: "\f054";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    right: 18px;
    top: 12px;
    font-size: 10px;
  
}
}
@media (max-width: 767px ) 
{
#owl-menu-ver-top
{
display:none;
}
#owl-menu-ver-left .category-left
{

border-top:1px solid #bebebe;
}
/* #owl-menu-ver-left{margin-top:15px;margin-bottom:15px;} */
#owl-menu-ver-left .title-menu-mobile
{
  background: #2a62b8;
  font-size: 13px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  display: block;
 }
#owl-menu-ver-left .title-menu-mobile span {padding:13px 10px}
#owl-menu-ver-left .title-menu-mobile span, .category-left .title-menu-mobile span:after{color:#fff;}
 #owl-menu-ver-left  .menu-dropdown{width: 100% !important; display:none}
 #owl-menu-ver-left li.level-1 {
    position: relative;
    width: 100%;
}
#owl-menu-ver-left .title-menu-mobile span:after {content:"\f078";color:#fff;}
#owl-menu-ver-left .category-left .sub-bg-1 > .menu-dropdown
{
background-image:none;
}
.menu-jewelry  .product-container{text-align:center;}
#owl-menu-ver-left .menu-jewelry  .product-container .product_img_link{display:inline-block;}
}

@media only screen and (min-width : 768px) and (max-width : 1023px)
{
#owl-menu-ver-left .category-left li.level-1 > a > img {
    margin-right: 0;
}
#owl-menu-ver-left .category-left li.level-1 > a {
    padding:12.3px 0 13px 5px;
}
#owl-menu-ver-left .category-left li a,#owl-menu-ver-left .menu-subtitle {
    font-size: 11px;
}
#owl-menu-ver-left .menu-subtitle{padding:5px 0 5px;}
}
@media only screen and (min-width : 768px) and (max-width : 992px)
{
#owl-menu-ver-left .category-left li.level-1 > a {
    padding: 3.1px 0 3px 5px;
}
#owl-menu-ver-left .category-left li.parent > a:after{top:10px;}
#owl-menu-ver-left .category-left .level-1.parent  .menu-dropdown.owl-vm-sub-auto,#owl-menu-ver-left .category-left .level-1.parent:hover > .menu-dropdown.owl-vm-sub-auto{margin-top:-53px;}
}
@media only screen and (min-width : 1024px) and (max-width : 1199px)
{
#owl-menu-ver-left .category-left li.level-1 > a{padding:15px 0 6.8px 15px;}
#owl-menu-ver-left .category-left li.level-1.item-11{display:none;}  
}
@media (min-width: 1199px ) 
{

#owl-menu-ver-left .category-left .baby_toy .menu-dropdown.cat-drop-menu{height:auto;}
}
@media only screen and (min-width : 1200px) and (max-width : 1399px)
{
#owl-menu-ver-left .category-left li.level-1.item-11{display:none;}
}
@media (min-width: 1400px ) 
{
#owl-menu-ver-left .category-left li.level-1 > a {min-height:50px;}
}

.owl-menu-ver-page  .category-left{cursor:pointer;}
.owl-menu-ver-page  .category-left{display:none;}

/*menu ipad*/
/*css*/
.owl-menu-mobile
{       
visibility: hidden;
transform: translateY(100%);
-moz-transform: translateY(100%);
-webkit-transform: translateY(100%);
transition: transform 0.5s ease 0s, visibility 0s ease 0.5s;
-moz-transition: transform 0.5s ease 0s, visibility 0s ease 0.5s;
-webkit-transition: transform 0.5s ease 0s, visibility 0s ease 0.5s;
-o-transition: transform 0.5s ease 0s, visibility 0s ease 0.5s;
position: fixed;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
background: rgba(0, 0, 0, 0.9) none repeat scroll 0% 0%;
z-index: 9999;
}   
.owl-menu-mobile.open {
    visibility: visible;
    transform: translateY(0%);
	-moz-transform: translateY(0%);
   -webkit-transform: translateY(0%);
    transition: transform 0.5s ease 0s;
    -moz-transition: transform 0.5s ease 0s;
    -webkit-transition: transform 0.5s ease 0s; 
}
.owl-menu-mobile .menu-icon
{
width: 40px;
height: 40px;
position: absolute;
right: 20px;
top: 20px;
overflow: hidden;
border: medium none;
box-shadow: none;
color: #FFF;
outline: medium none;
z-index: 100;
background-color: transparent;
font-size: 25px;
line-height: 1;
}
.owl-menu-mobile .header-logo .category-title{text-transform:uppercase;color:#fff;margin-bottom:25px;font-size:17px;font-weight:600;}
.menu-mobile-content
{
	text-align: center;
position: relative;
top: 50%;
height: 75%;
transform: translateY(-50%);
-moz-transform:translateY(-50%);
-webkit-transform:translateY(-50%);
overflow: auto;
min-height: 50px;
margin-bottom: 20px;
border: 1px solid transparent; 
}
.ul-menu-mobile 
{

line-height: 0.5em;
list-style: outside none none;
padding: 0px;
margin: 0px;
transform: translateX(0px);
-moz-transform: translateX(0px);
-webkit-transform: translateX(0px);
transition: transform 0.5s ease 0s;
-moz-transition: transform 0.5s ease 0s;
-webkit-transition: transform 0.5s ease 0s;
min-width: 290px;
display: inline-block;
}
.menu-mobile-content li
{
background: transparent;
position: relative;
line-height: 20px;
text-align: left;
}
.menu-mobile-content  li a
{
color: #FFF;
font-size: 14px;
text-transform: capitalize;
padding: 10px 42px 10px 15px;
line-height: 20px;
height: auto;
border-bottom: 1px solid rgba(233, 196, 111, 0.2); 
display:block;
}
.menu-mobile-dropdown  li a:hover{color:#e9c46f;}
.menu-mobile-content li.level-1 > ul > li{padding-left:15px;} 
.menu-mobile-content li.level-2  > ul > li{padding-left:25px;}   
.menu-mobile-content .parent .icon-drop-mobile-menu
{
	background-color: transparent;
cursor: pointer;
display: block;
line-height: 42px;
position: absolute;
top: 0px;
right: 0px;
z-index: 1;
width: 42px;
height: 42px;
-moz-user-select: none;
text-align: center;
    font-family: "FontAwesome";
    font-size:16px;
	color:#fff;
}
.menu-mobile-content .parent .icon-drop-mobile-menu:before{
	    content: "\f105";
}
.menu-mobile-content .parent .icon-drop-mobile-menu.opened:before{
	    content: "\f106";
}
.menu-mobile-dropdown {display:none;}
.menu-mobile-content #header_logo
{
text-align:center;
margin-bottom:20px;
}
.menu-mobile-content #header_logo img{margin:0 auto;max-width:125px;}
.menu-mobile-inner
{
	width:100%;height:100%;overflow:hidden;position:relative;direction:ltr;
}
#top_menu_owl .icon_menu{margin-top:12px;margin-right:10px;color:#fff;}
@media (max-width: 767px ) 
{
#header-top .container{position:relative;}
.menu-mobile-icon{position:absolute;top:10px;left:15px;}
.menu-mobile-icon a{font-size:0;background:url(../images/icon-menu.png) no-repeat;width:24px;height:26px;display:inline-block;}
#owl-menu-ver-left .category-left{border-top:none;}
.owl-sub-menu .owl-menu-row{margin-bottom:15px;}
#owl-menu-ver-left .category-left .cat-drop-menu{padding: 0 15px;}
}
@media only screen and (min-width : 768px) and (max-width : 1023px)
{
	.ul-menu-mobile{width:290px;}
}
