
.owl-menu-horizontal{position:relative;z-index:2;}
img {max-width:100%;}
.owl-menu-horizontal li.level-1 > a > span.menu-subtitle{ position: absolute;top: 0;line-height: 26px; margin-top: -11px; padding: 0 4px;background: url(../images/menu_title.png) no-repeat; color: #fff;right: 0;width: 50px;height: 27px;text-align: center;letter-spacing: 0;font-size: 13px;text-transform: initial;font-weight: 400;}
.owl-menu-horizontal li.level-1 .img-icon{max-width:20px;}
.owl-menu-horizontal ul{ margin:0;}
.owl-menu-horizontal .menu-content{position: relative;z-index:1;}
.owl-menu-horizontal li.level-1 {display:inline-block;vertical-align:top; transition: all 0.4s ease 0s;  -moz-transition: all 0.4s ease 0s;-webkit-transition: all 0.4s ease 0s;}
.owl-menu-horizontal li.level-1 > a {line-height:55px;padding:0 20px;position:relative;z-index:1; } 
.owl-menu-horizontal li.level-1.parent > a >span:after{content:"\f107";padding-left:8px;font-size:14px;font-family: FontAwesome; font-weight: normal; font-style: normal;}
.owl-menu-horizontal li.level-1.parent > a >span.menu-subtitle:after,.owl-menu-horizontal li.level-1.parent > a >span.menu-subtitle:before{display:none;}
.owl-menu-horizontal ul li.level-1 > a{font-size:18px;text-transform:uppercase;font-weight:500;color:#fff;}
  
.owl-menu-horizontal ul li.level-1.icon_menu > a{padding-left:0;font-size:0;width:24px;height:26px;display:inline-block;background:url(../images/icon-menu.png) no-repeat;margin-top:12px;} 
.owl-menu-horizontal ul li.level-1:hover > a{color:#fff; transition: all 0.4s ease 0s;  -moz-transition: all 0.4s ease 0s;-webkit-transition: all 0.4s ease 0s;}
.cat-drop-menu li {position: relative;}
.owl-menu-horizontal .menu-dropdown li a {padding:7px 0;display: block;}
.owl-menu-horizontal .menu-dropdown li:first-child > a{border-top:none;}
.clearfix {clear:both}
.owl-menu-horizontal ul li.level-1 ul li a{color:#666666;text-align:left;}
.owl-menu-horizontal ul li ul li.item-line a{font-size:12px;}
.owl-menu-horizontal ul li ul li.item-header  a {font-size:16px;text-transform:uppercase;margin-bottom:20px;} 
.owl-menu-horizontal ul li.level-1 ul li a:hover{color:#2a62b8;}
.owl-menu-horizontal ul li.level-1.last > a{padding-right:0;}
.owl-menu-horizontal ul li.level-1 ul li.parent:hover:after{color:#2a62b8;}
#owl-menu-horizontal .container 
{
padding-left:0;
padding-right:0;
}
.html-block img:hover{opacity: 0.7; filter: alpha(opacity=70);transition: all 0.4s ease 0s;  -moz-transition: all 0.4s ease 0s;-webkit-transition: all 0.4s ease 0s; }
.owl-menu-horizontal .menu-dropdown .menu-item.item-header .product-name{margin-top:10px;}
.owl-menu-horizontal .menu-dropdown .menu-item.item-header .product-name a {padding:0;margin:0;}
.owl-menu-horizontal .menu-dropdown .menu-item.item-header .content_price{text-align:left;}
.html-block p{margin-bottom:0;}
.owl-sub-menu .owl-menu-row{text-align:left;}
.owl-static-menu ul .menu-item  > a{padding:2px 0;}
.owl-menu-horizontal ul li ul li.item-header .product-container-img a{padding:0;margin-top:10px;}
.owl-menu-horizontal ul li ul li.item-header .product-container-img a.sale-box{text-align:center;}
.owl-menu-horizontal .menu-dropdown .sub-static .menu-item > a{display:none;}

.owl-menu-sticky{
	position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background:#2a62b8;
  border-bottom:1px solid #e1e1e1;
  padding-top: 0 !important;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  text-align:center;
 }
 .owl-menu-horizontal.owl-menu-sticky ul.menu-content{text-align:center;}
 .owl-menu-sticky.owl-menu-horizontal li.level-1{float:none;display:inline-block;}
 .owl-menu-sticky.owl-menu-horizontal li.level-1 a {text-align:left;}
 .owl-menu-horizontal.owl-menu-sticky 	ul.menu-content{margin-top:5px;}
.menu-mobile-icon a span{display:none;}
 .owl-menu-horizontal li.level-1.icon_menu{float:left;margin-right:20px;}
/****reponsive****/
@media (min-width: 768px ) 
{ 
.owl-menu-horizontal ul li.level-1 > a{padding-bottom:20px;}
.owl-menu-horizontal li.level-1.item-home > a{padding-left:0;}
.owl-menu-horizontal	ul.menu-content{
	display: block !important;
	height: auto !important;

 }
.owl-menu-horizontal .menu-dropdown
{
min-height: 50px;
  display: block;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(0px,20px);
  -webkit-transform: translate(0,20px);
  -moz-transform: translate(0,20px);
  -o-transform: translate(0,20px);
  -ms-transform: translate(0,20px);
  transition: opacity 0.5s ease 0s,transform 0.5s ease 0s;
  -moz-transition: opacity 0.5s ease 0s,-moz-transform 0.5s ease 0s;
  -webkit-transition: opacity 0.5s ease 0s,-webkit-transform 0.5s ease 0s;
  -ms-transition: opacity 0.5s ease 0s,-ms-transform 0.5s ease 0s;
  visibility: hidden;

}
.owl-menu-horizontal ul li.level-1:hover > .menu-dropdown, .owl-menu-horizontal ul li.level-2:hover > .menu-dropdown,.owl-menu-horizontal ul li.level-3:hover > .menu-dropdown
{
  opacity: 1;
  filter: alpha(opacity=100);
  transform: translate(0px,0px);
  -webkit-transform: translate(0px,0px);
  -moz-transform: translate(0px,0px);
  -o-transform: translate(0px,0px);
  -ms-transform: translate(0px,0px);
  visibility: visible;
}
.title-menu-mobile,.icon-drop-mobile{display:none;}
.owl-menu-horizontal ul li.level-1:hover{ transition: all 0.4s ease 0s;  -moz-transition: all 0.4s ease 0s;-webkit-transition: all 0.4s ease 0s;}
.owl-menu-horizontal li.level-1{height:55px;} 

.owl-menu-horizontal .menu-dropdown{position: absolute;z-index: 1000;border: 1px solid #dedede; top:100%;padding:20px 30px;background:#fff;}
.owl-menu-horizontal .sub-bg-1 .menu-dropdown{background:#fff url(../images/menu3.jpg) no-repeat right 15px top 15px;min-height:374px;}
.owl-menu-horizontal .sub-bg-2 .menu-dropdown{background:#fff url(../images/menu2.jpg) no-repeat right top;min-height:360px;}
.owl-menu-horizontal  .cat-drop-menu li {position: relative; width: 220px;}
.owl-menu-horizontal li.level-2 .menu-dropdown{  left: 100%;top: -1px;}
.owl-menu-horizontal .menu-dropdown.owl-sub-right{right:0;}
.owl-menu-horizontal .menu-dropdown.owl-sub-left{left:0;}
.owl-menu-horizontal ul li.level-1 ul li.parent:after{ 
  content: "\f054";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  right: 18px;
  top: 12px;
  font-size: 10px;color:#b3b3b3;
}
#more_menu .menu-dropdown{right:0;}
#more_menu .menu-dropdown  .menu-dropdown{display:none;}
.owl-menu-horizontal ul li.level-1 > a > span{padding-bottom:6px;position:relative;}
.owl-menu-horizontal ul li.level-1 > a > span:before{content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 2px; 
    background:#2a62b8;
    height: 2px;
    -webkit-transition-property: left,right;
    transition-property: left,right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;}
.owl-menu-horizontal ul li.level-1:hover > a > span:before{left: 0;right: 0;}
.owl-menu-horizontal ul li.level-1  > a > span{
	-webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.owl-menu-horizontal ul li.level-1  > a > span.icon-plus{padding-bottom:0;}
}
@media only screen and (min-width : 768px) and (max-width : 1199px)
{
.owl-menu-horizontal li.level-1 > a{padding:0 11px;} 

}
@media only screen and (min-width : 768px) and (max-width : 1024px)
{
	.owl-menu-horizontal .sub-bg-1 .menu-dropdown{background-size:50% auto;background-position:right 15px center;}
	.owl-menu-horizontal ul li ul li.item-header a{font-size:15px;}
	.owl-menu-horizontal ul.menu-content{float:left;}
	.owl-menu-horizontal ul li.level-1 > a{font-size:14px;}
}
@media (max-width: 767px ) 
{
.owl-menu-horizontal .menu-dropdown{display:none;}
.owl-menu-horizontal li.level-1{display: block;
  position: relative;
  cursor: pointer;
  padding-left: 10px;
  border-bottom: 1px solid #f2f2f2;width:100%;}
.owl-menu-horizontal li.level-1 > a{padding:0;}
.title-menu-mobile span{padding:15px 10px; color: #333;font-family:"Josefin Sans",sans-serif;font-size: 18px;font-weight: 400;display: block;text-transform: uppercase;}
.title-menu-mobile span:after {
 content: "\f039";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
   float:right;
  font-size: 14px;color:#333; cursor:pointer;
}
.icon-drop-mobile{float:right;}
li.parent .icon-drop-mobile:after{ 
  content: "\f067";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  right: 18px;
  top: 14px;
  font-size: 14px;color:#fff;cursor:pointer; 
}
.icon-drop-mobile.opened:after
{
content:"\f068";
}
.owl-menu-horizontal .menu-dropdown.owl-sub-menu{padding:0;}
.owl-menu-horizontal ul li ul {margin-left:10px;}
.owl-menu-horizontal ul li.level-1 ul li a{color:#fff;}
.owl-menu-horizontal ul li.level-1 ul li a:hover{color:#2a62b8;}
.owl-menu-horizontal ul li.level-1 ul li.parent:hover:after{color:#2a62b8;}
.owl-menu-horizontal ul li.level-1:hover > a{color:#2a62b8; transition: all 0.4s ease 0s;  -moz-transition: all 0.4s ease 0s;-webkit-transition: all 0.4s ease 0s;}
.owl-sub-menu .owl-menu-row{margin:0;}
.owl-menu-horizontal li.level-1.parent > a > span:after{display:none;}
#owl-menu-horizontal{margin-top:20px;}
#owl-menu-horizontal{background:#222a2d;color:#fff;}
#owl-menu-horizontal .title-menu-mobile span,#owl-menu-horizontal .title-menu-mobile span:after,.owl-menu-horizontal ul li.level-1 > a,.owl-menu-horizontal ul li.level-1 > a:after{color:#fff;}
.owl-menu-horizontal li.level-1.icon_menu,
.owl-menu-horizontal li.level-1.item-home
{
	display:none;
}
#owl-menu-horizontal{display:none;}
.owl-sticky-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
	border-bottom:1px solid #ebebeb;
	box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.3);  
    z-index: 10000;
    padding: 2px 0 0 0;
}
#menu-icon.icon-close:before{content:"\f00d"; font: normal normal normal 19px/1 FontAwesome;color:#8c8c8c;line-height:50px;}
#menu-icon.icon-close i{display:none;}
}
/***/





