#blog_latest_new_home {margin-top:50px;padding:50px 0;background:#f6f6f6;} 
.post_title{color:#232a35;margin-top:0;font-size:15px;margin-bottom:12px;font-weight:400;text-transform:uppercase;}  
.post_title a{color:#232a35;}
.post_title:hover,.post_title a:hover{color:#2a62b8;}
#blog_latest_new_home .post_title{margin-top:12px;} 
#blog_latest_new_home .g-content{padding:0 15px 45px;} 
#blog_latest_new_home ul li .blog-content{background:#fff;text-align:center;} 
#blog_latest_new_home .blog-out-title h3{font-size:24px;text-transform:uppercase;color:#232a35;position:relative;padding-bottom:20px;margin-bottom:30px;} 
#blog_latest_new_home .blog-out-title h3:after{content:"";background:#2a62b8;height:3px;width:70px;position:absolute;bottom:0;left:0;} 
#blog_latest_new_home .blog-img{margin-bottom:45px;} 
#blog_latest_new_home .post-des{margin-bottom:40px;} 
.blog-author span{color:#2a62b8;}
.g-blog-info div {
    display: inline-block;
    text-transform: uppercase;
    font-size: 10px;
    color: #2a62b8;
    margin: 0 4px;
}
.g-blog-info div:before {
    font-family: "FontAwesome";
    margin-right: 4px;
}
.g-blog-info .blog-date:before {
    content: "\f017";
}
.g-blog-info .blog-author:before {
    content: "\f044";
}
#blog_latest_new_home .read-more{color:#fff;padding:9px 28px;background:#2a62b8;border:1px solid #2a62b8;text-transform:uppercase;display:inline-block;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}   
#blog_latest_new_home .read-more a:before{content:"\f105";font-family:"FontAwesome";margin-right:5px;}    
#blog_latest_new_home .read-more a{color:#fff;} 
#blog_latest_new_home .read-more:hover{background:#fff;} 
#blog_latest_new_home .read-more:hover a{color:#2a62b8;}
.blog-info div{display:inline-block;color:#8c8c8c;margin-right:7px;}
.blog-info div:after{content:"/";padding-left:7px;}
.blog-info div.blog-cat{color:#2a62b8;} 
.blog-info div.blog-cat:after{display:none;}
.g-date-cat{display:inline-block;width:100%;}
.owlblogpost{padding:30px ;border-right:1px solid #d6d6d6;border-bottom:1px solid #d6d6d6;}
.even .owlblogpost{border-right-color:transparent;}
.article-content{margin-bottom:20px;}
.article-content a{display:block;position:relative;}
.article-content a:after{ z-index: 1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;filter: alpha(opacity=0);
  transform: scale(0,1);
  -moz-transform: scale(0,1);
  -webkit-transform: scale(0,1);
  transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  background:#fff;}
.article-content a:hover:after{    transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 0.7;filter: alpha(opacity=70);}
.article-header i {margin-right:5px;}
.blog-tool > span {font-size:11px; text-transform:uppercase;margin-right:20px;}
.blog-tool > span.date-time{color:#26a69d;}
.blog-title{font-size:24px;font-weight:400;}
.sdsarticle-des{margin-top:22px;}
.sdsreadMore{margin-top:5px;display:inline-block;}
.more a{padding:12px 20px; background:#26a69d;color:#fff;border:1px solid #26a69d;text-transform:uppercase;font-size:12px;border-radius:4px; -moz-border-radius:4px;-webkit-border-radius:4px;display:inline-block;-webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;}
.more a:hover{background:#fff;color:#26a69d;}
.pagination-bottom-blog 
{
 padding:26px 30px;
 background:#fff;
}
.pagination-bottom-blog  li{display:inline-block;float:left;}
.pagination-bottom-blog  li a, .pagination-bottom-blog  li span {background:none;border:none;padding:0;margin-right:12px;}
.pagination-bottom-blog  li.active span{background:none;border:none;padding:0;margin-right:12px;color:#26a69d;text-decoration:underline;}
.pagination-bottom-blog ,.pagination-bottom-blog  .pagination-blog{margin:0;}
.blog-content-bottom .tags-update{margin-right:20px;}
#blog_list .content{padding-top:55px;margin-top:55px;border-top:1px solid #ddd;}
#blog_list li:first-child .content{padding-top:0;margin-top:0;border-top:0;}
#blog_list li.odd{clear:left;}
#blog_list .post_title{margin-top:0;margin-bottom:11px;}
.blog-content p, #owl_post p{font-size:13px;line-height:20px;} 
.content_sortpagebar .bottom-pagination-content{text-align:right;}
#owl_post .post_title{font-size:26px;}
#owl_post .g-blog-info{margin-top:20px;padding:15px 0;border-width:1px 0 1px 0;border-style:solid;border-color:#e5e4e4;margin-bottom:20px;}
.tag-blog span{display:inline-block;text-transform: capitalize;}
.tag-blog .title_tag_blog{text-transform:uppercase;color:#222a2d;float:left;margin-right:5px;font-weight:600;}
.related_posts, .comment-list,.comment_form {margin-top:65px;}
.related_posts .blog_content li {margin-bottom:20px;}
.related_posts .blog_content li strong {font-weight:normal;}
.related_posts .blog_content li a:before{ content: "\f111";font-family:"FontAwesome";margin-right:12px; vertical-align: 1px;font-size:8px;}
.comment_form label{text-transform:uppercase;font-family:'Montserrat', sans-serif;font-size:10px;color:#666;}
.comment_form .form-control{max-width:430px;}
.comment-item .g-blog-info{padding-top:18px;border-top:1px solid #e5e4e4;margin-top:20px;}
.comment-item {margin-bottom:50px;}
.comment-item.last{margin-bottom:0;}
.blog-img a,.home-bottom-block a{display: block;position: relative;overflow:hidden;}
.blog-img a:before,.home-bottom-block a:before 
{
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    z-index: 10;
    background: rgba(193,161,124,0.6);
    opacity: 0.4;
    -webkit-transition: -webkit-transform .35s ease-out;
    transition: transform .35s ease-out;
    -webkit-transform: scale(0,0);
    -ms-transform: scale(0,0);
    transform: scale(0,0);
}

.blog-img a:hover:before ,.home-bottom-block a:hover:before
{
	-webkit-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
}
#blog_list .post-des{display:inline;}
#blog_list .blog-content{margin-top:30px;}
#blog_list .blog-content > a{font-size:13px;text-decoration:underline;-webkit-transition: all 0.3s ease-out 0s;-moz-transition: all 0.3s ease-out 0s;transition: all 0.3s ease-out 0s;}
#blog_list .blog-content > a:hover{text-decoration:none;font-size:14px;}
#blog_list .blog-img{margin-top:25px;}
#right-column .tabs .nav-tabs{border-top:none;padding:6px 0;border-bottom:1px solid #eee;margin-bottom:20px;text-transform:uppercase;}  
#right-column .tabs {padding:0;border:1px solid #eee;}
#blog_tags{margin-top:50px;margin-bottom:50px;}
/**detail***/
.blog-detail{background:#fff;}
#blog_article{padding:30px 80px 25px 80px;background:#fff;border-bottom:1px solid #d6d6d6;}
.lipsum{margin-bottom:20px;}
.page-item-title h1 {font-size:30px;font-weight:400;}
.tags strong{font-weight:400;}
.tags  a{font-style:italic;}
.blog-content-bottom{display:inline-block;margin-top:30px;width:100%;}
.blog-content-bottom .tags-update{display:inline-block;}
.blog-content-bottom .blog-social{float:right;}
.blog-content-bottom .blog-social p{margin-bottom:0;}
.blog-content-bottom .blog-social button {border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;margin-left:5px;}
.blog-extra{padding:40px 80px 50px 80px;}
.blog-extra h3, .comment-reply-title{margin:0;font-size:24px;font-weight:400;margin-bottom:20px;}
.releted li {list-style-type:disc;  margin-left: 20px;line-height:25px;}
#article_comments{margin-top:40px;}
#comments > .comment-list{border-bottom:1px solid #d6d6d6;padding-bottom:20px;}
.comment-list  .comment-list{margin-top:20px;margin-bottom:0;margin-left:20px;}
.comment-list{margin-bottom:20px;}
.avatar{float:left;margin-right:15px;margin-bottom:10px;}
.comment-content > p {margin-bottom:4px;}
.comment-list .name{font-size:11px;text-transform:uppercase;color:#26a69d;}
.comment-list .name:before, .created span:before{content:"\f007";font-size:11px; font-family: FontAwesome;margin-right:4px;}
.created span:before{content:"\f017";}
.created span,.reply{font-size:11px;text-transform:uppercase;cursor:pointer;}
.reply{font-weight:600;margin-top: 7px;}
#commentInput span, #commentInput strong{font-size:11px;text-transform:uppercase;font-weight:400;}
.required{color:#cd172d;}
.blog-tool .name, .blog-tool .created{display:inline-block;}
.blog-tool .created{margin-left:20px;}
.error,.warning{color:#cd172d;}
.success{color:#26a69d;}
#blog_lastest_posts_displayLeftColumn li{padding-top:30px;}
#blog_lastest_posts_displayLeftColumn li h5{color:#333;margin-top:18px;font-family: 'Playfair Display', serif;font-size:16px;font-style:italic;margin-bottom:8px;font-weight:500;}
#blog_lastest_posts_displayLeftColumn li:first-child,#blog_comments li:first-child{padding-top:0;margin-top:0;border-top:none;}
#blog_comments li .comment-content{margin-top:18px;color:#999;margin-bottom:15px;}
#blog_comments li h5{font-weight:500;}
#blog_comments li {margin-top:16px;padding-top:16px;border-top:1px solid #d9d9d9;padding-left:20px;padding-right:20px;list-style:none;}

#blog_lastest ul li{padding-top:10px;padding-left:20px;padding-right:20px;margin-top:26px;border-top:1px solid #eee;list-style:none;}
#blog_lastest ul li h5 a{color:#1e1e1e;font-size:13px; font-weight:500;}
#blog_lastest ul li h5 a:hover{color:#2a62b8;}
#blog_lastest ul li:first-child{padding-top:0;margin-top:0;border-top:0;}
#blog_lastest .blog-info .blog-date:after{display:none;}
#blog_comments .blog-info .blog-author:after{display:none;}
h4.title_block{font-size:20px;text-transform:uppercase;color:#2a62b8;}
.blog-categories{margin-bottom:50px;} 
.blog-item{width:50%;float:left;}
.blog_lastest_posts_img{display:block;overflow:hidden;position:relative;float:left;margin-right:9px;margin-bottom:9px;}
.blog_lastest_posts_img:before
{
	position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: auto;
    background-color: rgba(193,161,124,0.2);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.blog_lastest_posts_img:after
{
	content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    background-color: rgba(193,161,124,0.2);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.blog_lastest_posts_img:hover:after,.blog_lastest_posts_img:hover:before
{
	width: 100%;
    height: 100%;
}
.comment_form .blog_content{max-width:430px;margin:0 auto;} 
#module-owlblog-post  .blog-img{margin-bottom:30px;margin-top:40px;}

@media (min-width: 992px ) 
{
	#blog_list{padding-right:30px;}
}
@media (max-width: 767px ) 
{
.blog-extra, #blog_article{padding:20px;}
.owlblogpost{border-left:1px solid #d6d6d6;}
.blog-item:first-child .owlblogpost{border-top:1px solid #d6d6d6;}
.even .owlblogpost{border-right-color:#d6d6d6;}
.top-footer{ margin-top: 20px;}

.owl-blog-title h3{font-size: 25px;} 
#blog_latest_new_home{margin-top:30px;padding:30px 0;}
#blog_latest_new_home .blog-content{margin-bottom:20px;}
#blog_list .content{padding-top:20px;margin-top:35px;}
}

@media only screen and (min-width : 768px) and (max-width : 1199px)
{
.blog-title{height:28px;overflow:hidden;}
#blog_list .content{margin-bottom:15px;}
.blog_lastest_posts_img{margin-bottom:10px;}
#right-column .tabs .nav-tabs .nav-link{font-size: 12px;margin: 0 8px;padding: 10px 0 0;} 
.g-blog-info .read-more{padding:9px 15px;}
.g-blog-info .blog-date{padding:11px 20px;}
#blog_latest_new_home .g-content{padding:15px 15px 20px 15px;} 
#blog_latest_new_home .blog-img{margin-bottom:0;} 
}
@media only screen and (min-width : 992px) and (max-width : 1199px)
{
#blog_latest_new_home .blog-content p{display:none;}


}
@media (min-width: 1400px ) 
{
	#module-owlblog-post #center_column{padding-left:125px;} 
}
@media only screen and (min-width : 1200px) and (max-width : 1400px)
{
#blog_latest_new_home .post_title {
    margin-top: 11px;
}
#right-column .tabs .nav-tabs .nav-link{margin:0 10px;}  
}