.payment-right ul{float:right;margin-bottom:0;}
.payment-right ul li{float:left;margin-left:5px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;overflow:hidden;}
.payment-right ul li img:hover{opacity:0.5;}
.owl-banner-center{margin-top:30px;}
.owl-banner-center img:hover,.bn-centerhome img:hover{opacity:0.7;-webkit-transition: -webkit-transform .35s ease-out; transition: transform .35s ease-out;}
.owl-banner-center p{font-size:18px;color:#333;}
.owl-banner-center .out-banner{position:relative;}
.owl-banner-center .mask{
	text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	padding:0 10px;
	width:100%;
	}
.owl-banner-center .mask h3{font-size:36px;text-transform:uppercase;margin-bottom:0;color:#fff;font-weight:600;}
.owl-banner-center .mask h4{font-size:18px;text-transform:uppercase;margin-bottom:0;color:#fff;font-weight:600;}
.owl-banner-center .mask .view-colletion{font-size:11px;text-transform:uppercase;margin-bottom:0;color:#232a35;font-weight:500;padding:10px 25px;background:rgba(255,255,255,0.6);border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;display:inline-block;margin-top:20px;}
.owl-banner-center li:first-child{margin-bottom:30px;}
.owl-st-left{padding-left:0;}
.owl-st-left .inner-banner{position:relative;}
.owl-st-left .owl-mask{position:absolute;max-width:394px;top:21.5%;left:33.2%;z-index:2;}
.owl-st-left .owl-mask h3{color:#fff;font-size:36px;text-transform:uppercase;letter-spacing:6px;padding-bottom:25px;position:relative;margin:0 0 22px;}
.owl-st-left .owl-mask h3:after{content:"";position:absolute;left:0;bottom:0;width:29%;border-bottom:4px dashed #fff;}
.owl-st-right{padding-right:0;}
.owl-st-right > div{padding:0;}
.item-text h4{font-size:24px;color:#2a62b8;text-transform:uppercase;letter-spacing:6px;padding-bottom:26px;position:relative;margin:0 0 22px;}
.item-text h4:after{content:"";position:absolute;left:0;bottom:0;width:29%;border-bottom:2px dashed #2a62b8;}
.owl-content{max-width:340px;margin-left:9.7%;padding-top:29.6%;}
.copy-right{padding:15px 0 24px;}
.copy-right-left{font-size:12px;font-weight:300;color:#999;margin-top:5px;}
.copy-right-left a{font-style:italic;color:#2a62b8;}
.copy-right-left a:hover{color:#ff4200;}
.owl-payment ul li{display:inline-block;margin:0 10px;}
.owl-payment ul li i{font-size:0;}
.owl-payment ul li i:before{font-size:20px;}
.owl-block-topmenu{text-align:center;}
.owl-block-topmenu .free-shipping{line-height:50px;color:#2a62b8;}
.g-call-us{float:right;}
.g-call-us .text-2{font-size:18px;color:#ee3d43;font-weight:600;}
.owl-block
{
	background:url(../images/whyshop.png) no-repeat;color:#fff;padding:90px 70px 75px;max-width:338px;position:absolute;right:0;top:0;
}
.owl-block h3{font-size:17px;text-transform:uppercase;margin:0;font-weight:300;}
.owl-block h5{font-size:14px;margin:0;font-family:'Lato', sans-serif;font-weight:600;position:relative;}
.owl-block p{font-size:12px;margin:0;font-weight:300;}
.owl-block li{margin-top:6px;}
.owl-block li h5:before{font-family:"FontAwesome";font-size:12px;position:absolute;left:-22px;top:3px;}
.owl-block li.why-payment h5:before{content: "\f1f1";}
.owl-block li.why-shipping h5:before{content: "\f0d1";}
.owl-block li.why-best h5:before{content: "\f091";}
.owl-block ul{margin-bottom:0;padding-left:25px;}
.inner-banner a,.item-img a{position;relative;display:block;z-index:1;}
.inner-banner a:before,.item-img a:before{
	content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    z-index: 10;
    background: rgba(193,161,124,0.6);
    opacity: 0.4;
    -webkit-transition: -webkit-transform .35s ease-out;
    transition: transform .35s ease-out;
    -webkit-transform: scale(0,0);
    -ms-transform: scale(0,0);
    transform: scale(0,0);
	z-index:1;
}
.inner-banner:hover a:before,.item-img a:hover:before
{
	-webkit-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
}
.block-hotline li{display:inline-block;width:100%;padding:20px 30px;border-width:0 1px 1px 1px;border-style:solid;border-color:#eeeeee;}
.block-hotline li:first-child{border-top-width:1px;}
.block-hotline li .hotline{margin-top:10px;}
.block-hotline li span{display:block;font-size:15px;font-weight:700;color:#323232;}
.block-hotline li p{margin-bottom:0;margin-top:4px;}
.block-hotline i{font-size:24px;text-align:center;width:50px;float:left;margin-right:28px;color:#2a62b8;font-weight:600;}
.block-hotline .fa-clock-o:before{content: "\f017";font-family:"FontAwesome";display:block;font-size:36px;}
.block-hotline .fa-refresh:before{content: "\f021";font-family:"FontAwesome";font-size:36px;}
.block-hotline .fa-thumbs-up:before{content:"\f164";font-family:"FontAwesome";font-size:36px;}
.block-hotline .fa-tags:before{content: "\f02c";font-family:"FontAwesome";font-size:36px;}
.block-hotline li:hover{background:#f5f5f5;}
.block-hotline li:hover i{color:#323232;}
.header-banner {padding:17px 0;background:#f4f4f4;text-align:center;}
.header-banner p{margin-bottom:0;font-weight:500;}
.header-banner p span{color:#ff4200;}
.header-banner p a{color:#8c8c8c;position:relative;-webkit-transition: -webkit-transform .35s ease-out;transition: transform .35s ease-out;}
.header-banner p a:after{position:absolute;left:0;width:100%;bottom:0;height:1px;background:#8c8c8c;content:"";}
.header-banner p a:hover{color:#2a62b8;}
.header-banner p a:hover:after{background:#2a62b8;}
.block-top-html i{float:left;margin-right:10px;width:50px;height:50px;background:#2a62b8;border-radius:100%;-moz-border-radius:100%;-webkit-border-radius:100%;text-align:center;line-height:48px;font-size:24px;color:#fff;}
.block-top-html .free-shipping .h3.text-1{text-transform:uppercase;font-size:16px;margin-bottom:7px;margin-top:7px;}
.block-top-html .free-shipping .text-2{color:#232a35;margin-bottom:0;}
.block-top-html .free-shipping .text-2 span{color:#ee3d43;font-weight:600;}
.block-top-html{color:#232a35;}
.block-top-html .h3,.block-top-html strong{color:#232a35;font-size:16px;text-transform:uppercase;font-weight:500;}
.block-top-html .h3.text-1{margin-top:7px;}

.call-us {font-family: 'Poppins', sans-serif;color:#000;text-align:right;}
.call-us span {color:#000;font-size:36px;font-weight:600;}
.call-us span a {color: #000 !important;}
.in-call-us,.in-free-shipping{display:inline-block;}
.free-shipping{float:right;}
.free-shipping{margin-left:25px;}
.nav1 .owl-top-sale{margin-bottom:0;}
.nav1 .owl-top-sale span{color:#ee3d43;}
.nav1 .owl-top-sale a{color:#232a35;text-decoration:underline;}
.home-bottom-block{margin-bottom:60px;}
.nav-fullw-block ul{margin-bottom:0;float:right;}
.nav-fullw-block ul li{float:left;}
.nav-fullw-block ul li a{font-size:18px;color:#fff;line-height:55px;margin-left:30px;font-weight:500;text-transform:uppercase;}
.owl-sale{margin:35px 0 60px 0;}
.owl-img-first{margin-bottom:30px;}
.home-bottom1-block{display: none; padding:35px 0;margin:35px 0 60px;text-align:center;background:#2a62b8;color:#fff;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.home-bottom1-block > div{padding:0 65px;}
.home-bottom1-block  i{font-size:48px;}
.home-bottom1-block  h3{font-size:20px;text-transform:uppercase;margin-top:28px;margin-bottom:20px;}
.home-bottom1-block  p{color:#fff;line-height:24px;margin-bottom:0;}

@media (max-width: 767px )
{
.owl-banner-center .mask h3{font-size:24px;}
.payment-right,.copy-right-left{text-align:center;}
.payment-right ul{float:none;display:inline-block;}
.owl-block{position:static;}
.owl-banner-center{margin-top:0;}
.owl-banner-center ul{margin-bottom:0;}
.owl-st-left .owl-mask{left:20px;max-width:295px;}
.owl-banner-center p{font-size:17px;}
.owl-st-left .owl-mask h3{font-size:22px;}
.owl-st-left,.owl-st-right{padding:0;}
.owl-content {
    margin-left: 0;
    max-width: 100%;
	padding:30px 20px;
}
.item-img img{width:100%;}
.owl-block-tophome ul li{margin-top:30px;}
.payment-right ul li{margin-bottom:5px;}
.owl-block-tophome,.owl-banner-center{text-align:center;}
.owl-banner-center li{margin-top:15px;}
.owl-banner-center li:first-child{margin-bottom:15px;}
.home-bottom-block{margin-bottom:30px;}
.owl-topcolum-block{margin-top:30px;}
.owl-sale {
    margin: 15px 0 25px 0;
}
.owl-img-1,.owl-img-first{margin-bottom:20px;}
.home-bottom1-block > div{padding:0 15px;margin-bottom:30px;}
.home-bottom1-block{margin-bottom:10px;}
}

@media (min-width: 992px) and (max-width: 1199px)
{
.owl-banner-center .mask h3{font-size:23px;}
.owl-block{background-image:url(../images/whyshop-m.png); padding: 60px 44px 44px;max-width:283px;}
.owl-content {
    margin-left: 4.7%;
    padding-top: 12.6%;
}
.item-text h4 {font-size: 14px;padding-bottom:20px;}
.owl-banner-center p { color: #333; font-size: 13px;}
.owl-st-left .owl-mask {
    left: 10.2%;
    top: 31.5%;
}
.block-hotline i{font-size:21px;margin-right:12px;}
.block-hotline li{padding:15px 10px;}
.block-hotline li span{font-size:13px;}
.block-top-html{text-align:center;margin-top:20px;}
.free-shipping{display:inline-block;float:none;margin-left:0;margin-right:25px;}
.g-call-us{float:none;display:inline-block;}
.nav-fullw-block ul li a{font-size:14px;}
.owl-img-first{margin-bottom:18px;}
}

@media only screen and (min-width : 768px) and (max-width : 991px)
{
.owl-banner-center{margin-top:50px;}
.owl-st-left,.owl-st-right{padding:0;}
.block-hotline{width:50%;float:left;}
.owl-banner-center .mask h3{font-size:15px;}
.owl-banner-center .mask i{font-size:10px;width:22px;height:22px;line-height:22px;}
.owl-banner-center .mask{padding:10px 15px;}
.owl-img-first{margin-bottom:15px;}
}
@media only screen and (min-width : 768px) and (max-width : 1199px)
{
.owl-banner-center li{width:50%;padding:0 15px;float:left;}
.owl-banner-center li:first-child{margin-bottom:0;}
.home-bottom1-block > div{padding:0 15px;}
}
@media only screen and (min-width : 1200px) and (max-width : 1440px)
{
.owl-content{padding-top:11.6%;margin-left: 5.7%;}
.owl-banner-center p{font-size:16px;}
.item-text h4{font-size:18px;}
.owl-st-left .owl-mask{left:31%;top:12.5%;}

}
@media (max-width: 479px )
{
.owl-block{display:none;}
.call-us span{display:block;font-size:28px;margin-top:15px;}
.call-us{text-align:left;}
}
@media (min-width: 1400px )
{
.owl-block{right:-68px;}
}
@media only screen and (min-width : 480px) and (max-width : 767px)
{
	.owl-banner-center .out-banner img{width:100%;
}
.owl-banner-center .out-banner img{
	width: 100%;
   height: auto;
}
