@media (min-width: 1200px) and (max-width:1399px)
{
	.box-mode main {
    max-width: 1200px;
    box-shadow: 0 0 8px #666666; 
	margin: 0 auto;position: relative;}
	.box-mode .footer-container #footer .row{margin:0;}
	.container{padding-left:15px;padding-right:15px;}
}
@media (min-width: 1400px)
{
	.box-mode main {
    max-width: 1330px;
    box-shadow: 0 0 8px #666666;
	margin: 0 auto;position: relative;}
	.box-mode .footer-container #footer .row{margin:0;}
	.box-mode .container{padding-left:15px;padding-right:15px;}
	.box-mode .nav2{padding-right:15px} 
	.box-mode .call-us span{font-size:26px;} 
	.box-mode .block_newsletter .left-content{padding-left:15px;} 
	.box-mode .block_newsletter .right-content{padding-right:15px;} 
	.box-mode .block_newsletter p{display:none;} 
}
@media (min-width: 1024px) and (max-width:1199px)
{
	.box-mode main {
    max-width: 960px;
	box-shadow: 0 0 8px #666666;position: relative;
	margin: 0 auto;
    }
	.box-mode .footer-container #footer .row{margin:0;}
}
.box-mode .owl-content{padding-top:11.6%;}  
.box-mode #owl-menu-ver-left .category-title{font-size:14px;}  