@charset "utf-8";
/* CSS Document */
*{ box-sizing: border-box;}
body,h1,h2,h3,h4,h5,h6{padding:0;margin:0; font-family: "微软雅黑";}
h1,h2,h3,h4,h5{ font-weight: normal;}
ul,li{list-style-type:none; margin:0; padding:0;}
.clear{ clear:both;}
.clear:after{ clear:both; content: "."; display: block; font-size:0; height:0; visibility:hidden;}
.hr-30{height:30px;}
.left{position:fixed; width:215px; height:100%; OVERFLOW-Y: auto;OVERFLOW-X: hidden; background-color:#fafafa; border-right:1px solid #eee;}
.right{ margin-left:216px;}
.btn1{ display:inline-block; height:30px; line-height:27px; padding:0 20px; background-color:#19aa8d; border-radius:4px; font-size:13px; color:#FFF; cursor:pointer;}
.btn1:hover{background:#18a689;color:#fff;}
/*以下是新增样式*/
.add_btn{margin:10px; margin-bottom:0;}
.user_list ul{margin:10px; padding:0;list-style-type:none; font-size: 14px;}
.user_list li{ padding-bottom:5px; padding-top:5px; line-height:30px;border-bottom:1px solid #e9e9e9; color:#354052;}
.user_list span{cursor: pointer;}
.edit_btn,.del_btn{float:right; display: inline-block; margin-left:5px; padding: 0 6px; border-radius: 4px;color:#2898e0; }
.edit_btn:hover,.del_btn:hover{background:#2898E0; color:#fff;}
.titleH2{margin:0 10px;padding:10px 0; font-weight: normal; font-size:18px; border-bottom:1px solid #eee;}
.save{ margin-left:24px; margin-top:10px;}

/* 弹框样式 */
.systemslayer_mask{ position:fixed; top:0; left:0; width:100%; height:100%; background:#999; opacity:0.5; z-index:1000;}
.systemslayer_box{ position:absolute; top:20%; left:50%; z-index:2000; width:500px; margin-left:-250px; background-color:#FFF; border-radius:4px; box-shadow:0 0 10px rgba(0,0,0,0.2); overflow:hidden}
.systemslayer_tit{ height:49px; line-height:49px; border-bottom:1px solid #e2e2e2; background-color:#4d72a9;}
.systemslayer_tit h2{ float:left; line-height:47px; display:inline-block; padding-left:20px; font-size:16px; font-weight:bold; color:#FFF !important;}
.systemslayer_tit a.close{position:absolute; top:15px; right:15px; display:block; width:17px; height:17px; background:url(../images/dialog_close.png) no-repeat;}
.systemslayer_tit a.close:hover{ text-decoration:underline;}
.systemslayer_bottom{ clear:both; height:50px; line-height:50px; background-color:#efefef; text-align:right;}
.systemslayer_bottom input{ margin-right:15px; margin-top:15px;}
.save_btn{ height:25px; line-height:23px; background-color:#4f90d4; border:0px none; border-radius:4px; padding-left:13px; padding-right:13px; font-size:12px; color:#FFF; cursor:pointer;}
.systemslayer_con{ padding:20px 20px 40px}
.systemsedit_tab{ height:26px; line-height:26px; padding-left:36px;}
.systemsedit_tab li{ float:left; padding-left:15px; padding-right:15px; border:1px solid #ddd; margin-left:15px; border-radius:3px; display:inline;}
.systemsedit_tab li a{ font-size:12px; color:#959ca8;}
.systemsedit_tab li.current{ background-color:#2898e0; border:1px solid #2898e0;}
.systemsedit_tab li.current a{ color:#fff;}
.systemsedit_con h5{ padding-bottom:25px; font-size:12px; font-weight:bold;}
.systemsedit_con .systemsedit_nav{ padding:0px 40px 20px;}
.customize_con{ background:#f8f8f8; overflow:visible; padding-left:50px;}
.customize_con.white{ background-color:#FFF;}
.customize_con .word_list{ float:left; margin-top:20px;}
.word_list h2{ margin-bottom:10px; color:#959ca8; font-size:12px;}
.word_list .wordlist_nav{ height:300px; min-height:240px; width:150px; margin-bottom:10px; border:1px solid #ddd; box-sizing:content-box; background-color:#FFF; font-size:12px;}
.word_list ul li{ height:25px; line-height:25px; padding:1px;}
.word_list ul li a{ display:block; padding:0px 10px; color:#000;}
.word_list ul li a:hover{ background-color:#f6f6f8;}
.word_list ul li.current a{ background-color:#2898e0; color:#FFF;}
.move_button{ float:left; width:80px; height:50px; margin-top:140px; text-align:center;}
.move_button .left_button,.move_button .right_button{ display:block; width:30px; height:20px; line-height:20px; background:#fff; border:1px solid #ddd; border-radius:2px; margin-left:24px; margin-bottom:20px; font-weight:bold; color:#4c81be;}
.sort_button{ float:left; width:30px; height:50px; margin-top:47px; margin-left:3px; text-align:center;}
.sort_button a{ display:block; width:21px; height:21px; border:1px solid #ddd; border-radius:2px; margin-bottom:10px; background:#fff url(../images/sort_button.png) no-repeat; cursor:pointer;}
.sort_button a.up_button{ background-position:0px 0px;}
.sort_button a.down_button{ background-position:0px -20px;}


